[2022-10-22 10:10] Dun-sin opened #312 "[DOCS] <what do you have to add>"
### Description

httthth

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the rules in the [Contributing Guidelines](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md)

[2022-10-22 11:52] CA-MKSingh commented on #309
sure, I'll follow

[2022-10-23 18:39] Dun-sin commented on #309
@CA-MKSingh an update pls

[2022-10-23 18:40] Dun-sin commented on #302
@HridoyHazard an update o this pls?

[2022-10-24 00:53] CA-MKSingh commented on #309
@Dun-sin sorry for delay, I'm working on it.

[2022-10-25 10:22] #309 closed

[2022-10-25 10:23] Dun-sin commented on #309
:tada: This issue has been resolved in version 2.22.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.22.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-25 10:30] Dun-sin opened #314 "[BUG] Tooltip for open result icon is not placed properly"
### Description

How to recreate the bug:
- click any of the generators
- input the necessary inputs and click get results
- close the results page and over on the new icon that appears

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Mozilla Firefox

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issu

[2022-10-25 10:42] Dun-sin opened #315 "[FEATURE] Better slider"
### Description

Make a better slider than the one that already exists.

### Screenshots

![IMG_20221025_114058](https://user-images.githubusercontent.com/78784850/197752923-ae9d225c-d105-444d-abe9-6b93d2a76494.jpg)

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contrib

[2022-10-25 10:47] Anuran12 commented on #315
@Dun-sin  I would like to work on this

[2022-10-25 10:50] Dun-sin commented on #315
okay

[2022-10-25 10:50] javamultiplex commented on #314
@Dun-sin  - I would like to work on this. Can you please assign to me

[2022-10-25 10:51] Dun-sin commented on #314
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-25 14:10] rupali-codes opened #316 "[BUG] Text shadow unexpected behaviour"
### Description

### I got the following issues:
- Not getting results (any)
- Code isn't copying
  I've clicked on Get code button and nothing has copied

### Screenshots

 **text shadow input**
![image](https://user-images.githubusercontent.com/78981177/197795215-30d39ac3-a672-42bd-b022-5be5e37ef82d.png)

**text shadow output**
![image](https://user-images.githubusercontent.com/78981177/19779530

[2022-10-25 14:21] rupali-codes opened #317 "[OTHER] Open result button looks odd"
### What would you like to share?

## I got the following issues, when hovering on icon:
- open result's button is too far from the icon
- the triangle is going deep and overlapping the text

## screenshot
![image](https://user-images.githubusercontent.com/78981177/197799240-89a48fd7-8803-4685-9a00-eac2ef0ae2a0.png)

### Additional information

It can be a good first issue ;)

### 👀 Have you check

[2022-10-25 14:55] Dun-sin commented on #317
Duplicate of #314

[2022-10-25 14:55] #317 closed

[2022-10-25 16:59] #314 closed

[2022-10-25 16:59] Dun-sin commented on #314
:tada: This issue has been resolved in version 2.22.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-25 17:06] javamultiplex commented on #314
@Dun-sin  - Can you please add 'hacktoberfest-accepted ' label in this issue?

[2022-10-25 17:07] footedroom575 commented on #302
Hi @Dun-sin! I would love to contribute in this. Can you please assign this to me?

[2022-10-25 17:11] HridoyHazard commented on #302
this issue already solved and released in this pr #310
kindly close this

[2022-10-25 17:27] #302 closed

[2022-10-25 17:45] Vishrut19 commented on #315
@Dun-sin Can I work on this issue ??

[2022-10-25 17:56] footedroom575 opened #319 "[BUG] Does not display gradient while cursor is moving"
### Description

While generating 'Gradient Border', the gradient preview does not reflect the degree if its being changed with a mouse.

For better understanding:

https://user-images.githubusercontent.com/63443749/197847068-54ae9c50-fcdc-46fb-bb05-c7cde5bd120d.mp4

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Mozilla Firefox

### 👀 Have you checked if

[2022-10-25 20:51] Dun-sin commented on #315
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-25 20:54] Dun-sin commented on #319
I definitely don't know what you are talking about, because from the video it works.

So what are you talking about

[2022-10-25 21:27] footedroom575 commented on #319
Unless you release the mouse button, if you scroll through the bar, you can see the gradient remains the same. Like from a UX perspective, don't you think it should be displaying the results as the degrees key changing gradually?

[2022-10-25 23:17] mathiasayivor opened #320 "[BUG] Gradient Text Download only exporting partial text"
### Description

Downloading gradient Text only exports partial text.

### Screenshots

Expected Result:
![Screenshot from 2022-10-25 23-13-11](https://user-images.githubusercontent.com/74247733/197899328-320f166f-7d03-4efa-a7b1-939cd5520fd7.png)

Actual Result:
![gradient-text(4)](https://user-images.githubusercontent.com/74247733/197899400-1b929e9b-984a-4eae-8c60-ccaf2a90db5c.png)

### Additiona

[2022-10-26 02:21] Dun-sin commented on #319
No

[2022-10-26 02:37] Dun-sin opened #321 "[BUG] Gradient text result not centered"
### Description

The result(text) of gradient text isn't centered in it's parent container

### Screenshots

![Screenshot_2022-10-26-03-27-42-741_org mozilla firefox](https://user-images.githubusercontent.com/78784850/197920727-28c0762d-ce65-42d7-a101-2ab72acca35b.jpg)

### Additional information

Tasks:
- [ ] Center the text in results section of gradient text

### 🥦 Browser

Mozilla Firefox

###

[2022-10-26 02:50] Dun-sin opened #322 "[DOCS] add text shadow to the readme"
### Description

All the current generators are on the readme except text shadow.

### Screenshots

_No response_

### Additional information

Tasks:
- [ ] Add a short description of the text shadow generator in the readme

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read

[2022-10-26 03:48] Dun-sin opened #323 "[FEATURE] Make every input the same width on mobile"
### Description

The color input should be the same width as the rest of the inputs.

### Screenshots

![IMG_20221026_044526](https://user-images.githubusercontent.com/78784850/197929985-213a5050-aa95-4b26-ae97-f38db44585f2.jpg)

### Additional information

Tasks:
- [ ] make the color input the same width as the rest of the input
- [ ] ignore the preview, don't change the width of that

### 👀 Have

[2022-10-26 04:11] Anuran12 commented on #315
@Dun-sin : )

[2022-10-26 04:11] Dun-sin opened #324 "[FEATURE] Display Download element only on Firefox"
### Description

Downloading the results of a generator only works on Firefox, so removing the element on other browsers would be better

### Screenshots

![IMG_20221026_051017](https://user-images.githubusercontent.com/78784850/197932585-edba323b-d0e7-4b8a-b0d1-44739d2f78f1.jpg)

### Additional information

Tasks:
- [ ] Display the download elements only on Firefox

[Here's an article on how to c

[2022-10-26 05:38] Anuran12 commented on #323
@Dun-sin  I would like to work on this. Please assign me

[2022-10-26 05:41] Dun-sin commented on #323
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-26 07:01] Anuran12 commented on #323
![image](https://user-images.githubusercontent.com/104062485/197956819-1f200ba4-b87c-40e2-8a28-4404c5d45d8a.png)

Is it okay ?? @Dun-sin

[2022-10-26 07:16] Dun-sin commented on #323
read the issue properly, it says don't change the preview width and should be the same as the others

[2022-10-26 07:35] Dun-sin commented on #323
it's not, make it the same as the others

[2022-10-26 07:37] Anuran12 commented on #323
@Dun-sin you mean like the text area ? actually i was trying to make the width as same as slide bar. see

[2022-10-26 07:38] Dun-sin commented on #323
It has to be the same width as the text area and the degree

[2022-10-26 07:39] Anuran12 commented on #323
ohh okay

[2022-10-26 07:54] Anuran12 commented on #323
@Dun-sin  now ?

![image](https://user-images.githubusercontent.com/104062485/197967419-91aa5294-11e8-459c-a996-7c31b427926b.png)

[2022-10-26 08:02] Dun-sin commented on #323
Good good, just one more thing, can you increase the height of the input color a little?

Btw all this changes should only affect mobile view

Thanks

[2022-10-26 08:54] vedant-z commented on #324
@Dun-sin I wanna work on this

Also if you can give me some start it would be of great help.

[2022-10-26 08:55] Dun-sin commented on #324
what start is needed?

[2022-10-26 08:56] komalsoni4 commented on #322
please assign me this issue

[2022-10-26 08:56] vedant-z commented on #322
@Dun-sin I want to work on this 🙂

[2022-10-26 08:56] Dun-sin commented on #322
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-26 08:56] vedant-z commented on #324
Like how should I proceed

[2022-10-26 08:57] vedant-z commented on #321
@Dun-sin Assign me please

[2022-10-26 08:58] Dun-sin commented on #324
Check the readme, you should already know JavaScript or typescript

[2022-10-26 08:58] Dun-sin commented on #321
no, you only get one good first issue

[2022-10-26 10:01] Dun-sin commented on #324
you could just try to find it tho, using dev tools........

[2022-10-26 10:03] #323 closed

[2022-10-26 10:04] Dun-sin commented on #323
:tada: This issue has been resolved in version 2.22.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.22.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-26 10:16] Dun-sin opened #327 "[BUG] Wrong CSS variable used in degree"
### Description

The wrong variable is used for the degree input element width, which makes it out of uniform width with the other input elements
here's where needs to change:
https://github.com/Dun-sin/Code-Magic/blob/83576a5857bf51b843098f9b5b6e3787e9bb3c32/src/style.css#L355

here's the variable it should be replaced with
https://github.com/Dun-sin/Code-Magic/blob/83576a5857bf51b843098f9b5b6e37

[2022-10-26 10:28] Yushmanth-reddy commented on #327
can you assign me this issue?

[2022-10-26 10:29] Dun-sin commented on #327
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-26 12:14] #327 closed

[2022-10-26 12:14] Dun-sin commented on #327
:tada: This issue has been resolved in version 2.22.3 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.22.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-26 12:28] Manethpak opened #329 "[BUG] Multiple notification when clicked copied"
### Description

The notification showed multiple time when you click on the "Get Code" button if you regenerate the result multiple time, you can see in the screenshot below.

To reproduce the bug:
1. Click on Get Result
2. Click on Go back
3. Click on Get Result again
4. When you click on "Get Code" it will show 2 notifications.
If you do this step 5 times it will show as many as 6 notifications

[2022-10-26 12:40] PhilippFr commented on #329
Taking a look on this 👍

[2022-10-26 12:49] PhilippFr commented on #305
@Dun-sin Is this not hacktober relevant?

[2022-10-27 00:44] footedroom575 commented on #321
@Dun-sin I can fix this little issue. Assign me if you want.

[2022-10-27 05:09] Dun-sin commented on #321
No, it's for new contributors

[2022-10-27 06:20] #319 closed

[2022-10-27 06:20] Dun-sin commented on #319
:tada: This issue has been resolved in version 2.24.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.24.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-27 06:40] Dun-sin opened #332 "[FEATURE] degree slider should update the preview immediately in gradient text"
### Description

Make the slider/degree automatically update preview in gradient text, your change should be done in main.ts

if you are lost, check this Pull request that solves a very similar -> #331

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/198209234-ceabd9f4-1714-46ba-a102-167bc575e77d.png)

### Additional information

_No response_

### 👀 Have you checked i

[2022-10-27 06:44] Dun-sin opened #333 "[FEATURE] degree slider should update the preview immediately in gradient border"
### Description

Make the slider/degree automatically update the preview in gradient border, your change should be done in main.ts

if you are lost, check this Pull request that solves a very similar -> #331

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/198210353-7ba1ab91-5ef5-4928-bfa7-12409f97e666.png)

### Additional information

_No response_

### 👀 Have you che

[2022-10-27 06:47] Dun-sin opened #334 "[FEATURE] animator sliders should update the preview immediately"
### Description

Make the slider automatically in animator for the border radius, your change should be done in main.ts

if you are lost, check this Pull request that solves a very similar -> https://github.com/Dun-sin/Code-Magic/pull/331

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/198211029-6dc3e523-1902-4bd3-ac7b-cc9829b68e75.png)

### Additional information

_N

[2022-10-27 06:52] Dun-sin opened #335 "[FEATURE] box shadow sliders should update preview immediately"
### Description

Make the slider automatically update the preview in gradient border, your change should be done in main.ts

if you are lost, check this Pull request that solves a very similar -> https://github.com/Dun-sin/Code-Magic/pull/331

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/198211349-02164864-2ecc-431f-bdf6-ef83cd79520c.png)

### Additional information

[2022-10-27 08:16] #316 closed

[2022-10-27 08:17] Dun-sin commented on #316
:tada: This issue has been resolved in version 2.24.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.24.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-27 08:53] khanhtranngoccva commented on #333
Hey Dunsin! I'd like to work on this issue. 😊

[2022-10-27 08:54] Dun-sin commented on #333
okay,thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-27 14:56] khanhtranngoccva commented on #332
This issue has been fixed in #337.

[2022-10-27 16:30] vatana7 commented on #335
Can you explain this issue in more detail? I don't quite understand

[2022-10-27 16:31] Dun-sin commented on #322
@komalsoni4 an update pls

[2022-10-27 16:32] Dun-sin commented on #335
I just edited it correctly, sorry for that, read it again. Thanks

[2022-10-27 16:34] Vishrut19 commented on #315
Can you please 2-3 days time I will work on this issue as I am going through a family crisis at this moment. Hope you can understand ! @Dun-sin

[2022-10-27 16:36] vatana7 commented on #335
Still don't quite understand what you meant. All sliders for box-shadow work as it supposed to be. Is there something I'm missing here? @Dun-sin

[2022-10-27 16:37] Dun-sin commented on #315
Okay, hope everything gets solved

[2022-10-27 16:38] Dun-sin commented on #335
It does?

[2022-10-27 16:40] vatana7 commented on #335
Yes, can you recheck that again?

[2022-10-27 16:41] Dun-sin commented on #335
Yeah it does, my bad, check #332 instead thanks

[2022-10-27 16:41] #335 closed

[2022-10-27 17:07] Manethpak opened #339 "[BUG] Box Shadow's result"
### Description

Result of Box Shadow give height and width encapsulate by ' which is an incorrect syntax for css

[code]

Expected result should be
[code]

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Mozilla Firefox

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Con

[2022-10-27 17:13] vatana7 opened #340 "[FEATURE] <Better Border for Pic-Text>"
### Description

I've suggested a new border design for Pic-text

**Before:**
<img width="779" alt="image" src="https://user-images.githubusercontent.com/61142258/198355151-8bcd5770-03bb-467b-a725-6aab8af46a4d.png">

**After:**
<img width="676" alt="image" src="https://user-images.githubusercontent.com/61142258/198355500-774e87dd-2859-4c3a-ac27-4b4a6bb16ac8.png">

### Screenshots

_No response_

#

[2022-10-27 17:52] #329 closed

[2022-10-27 17:53] Dun-sin commented on #329
:tada: This issue has been resolved in version 2.24.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.24.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-27 19:23] #340 closed

[2022-10-27 19:24] Dun-sin commented on #340
:tada: This issue has been resolved in version 2.25.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.25.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-27 23:40] footedroom575 commented on #339
Yes, you're right. I can work on it. @Dun-sin can you assign this to me?

[2022-10-28 00:30] footedroom575 commented on #320
@Dun-sin I would like to work on it. Can you please assign this to me?

[2022-10-28 03:57] #333 closed

[2022-10-28 03:58] Dun-sin commented on #339
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-28 03:58] Dun-sin commented on #333
:tada: This issue has been resolved in version 2.25.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.25.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-28 11:12] #332 closed

[2022-10-28 11:13] Dun-sin commented on #332
:tada: This issue has been resolved in version 2.27.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.27.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-28 11:38] #324 closed

[2022-10-28 11:38] Dun-sin commented on #324
:tada: This issue has been resolved in version 2.28.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.28.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-28 12:29] ShivangiRai1310 commented on #321
Can i work on this issue

[2022-10-28 12:55] Dun-sin commented on #321
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-28 17:03] #321 closed

[2022-10-28 17:04] Dun-sin commented on #321
:tada: This issue has been resolved in version 2.29.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.29.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-28 19:50] footedroom575 commented on #320
I guess that a cors related error. If @Dun-sin could assign me this, I can look into fixing it.

[2022-10-28 20:28] #339 closed

[2022-10-28 20:29] Dun-sin commented on #339
:tada: This issue has been resolved in version 2.29.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.29.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-28 20:29] Dun-sin commented on #320
How is it cors related

[2022-10-28 20:33] footedroom575 commented on #320
I was using domtomimg for some project earlier and encountered the same issue. Also, the console output when you click 'Download PNG', states:

`Error while reading CSS rules from [https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,1…1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap](https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,7

[2022-10-28 20:39] Dun-sin commented on #320
I doubt it has anything to do with this,
1 - the first is for the fonts for the app, which doesn't really matter here
2. - the second is for the color input, which once again, doesn't matter here

[2022-10-28 20:41] footedroom575 commented on #320
Hey I just tried to add `crossOrigin = "anonymous"` to the first stylesheet and it seemed to fix the issue

[2022-10-28 20:52] Dun-sin commented on #320
To the font or the color package

[2022-10-28 20:53] footedroom575 commented on #320
to the font only

[2022-10-28 20:54] Dun-sin commented on #320
That's more reasonable than saying the color package, cuz that made you seem very wrong

[2022-10-28 21:01] footedroom575 commented on #320
Actually I was mentioning the logged issues in console. As I mentioned earlier, I also had cors related issues while using`domtomimg`. I tried to make the cross origin anonymous and it seemed to work.

[2022-10-28 23:09] khanhtranngoccva commented on #322
I would like to work on this issue.

[2022-10-29 02:49] Dun-sin commented on #320
Okay, create a PR if you like

[2022-10-29 03:56] footedroom575 opened #345 "[BUG] Download buttons on 'Text Shadow' page are not working"
### Description

No action is performed when download buttons at 'Text Shadow' are clicked, there seems to be no event handler available that can look for changes in button's state.

### Screenshots

This is the problematic page:
![error](https://user-images.githubusercontent.com/63443749/198812723-d9cee894-d8bc-4a9b-a88b-e1939df25683.png)

### Additional information

_No response_

### 🥦 Browser

[2022-10-29 06:06] #320 closed

[2022-10-29 06:06] Dun-sin commented on #320
:tada: This issue has been resolved in version 2.29.3 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.29.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-29 21:52] CBID2 commented on #322
I'm open to working on this @Dun-sin! :)

[2022-10-30 03:39] #345 closed

[2022-10-30 03:40] Dun-sin commented on #345
:tada: This issue has been resolved in version 2.30.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.30.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-30 16:44] vatana7 opened #349 "[FEATURE] <Update preview as input is changed on Border Radius>"
### Description

I want to make the preview of the Border Radius automatically update as we slide the input. Currently it's only changed after we slide the input. Please assign me to this and I will open a PR right away. Thanks!

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find s

[2022-10-30 20:27] Dun-sin commented on #349
It already does that

[2022-10-31 05:32] #322 closed

[2022-10-31 05:33] Dun-sin commented on #322
:tada: This issue has been resolved in version 2.31.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.31.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-31 05:33] Dun-sin commented on #315
@Vishrut19 are u still able to do this?

[2022-10-31 06:10] vatana7 commented on #349
@Dun-sin Please take a look and see if you want this to be implemented.

### Before:
![Kapture 2022-10-31 at 13 03 09](https://user-images.githubusercontent.com/61142258/198941984-b73a030a-704e-467c-94e9-e904879bcbf6.gif)

### After:
![Kapture 2022-10-31 at 13 06 18](https://user-images.githubusercontent.com/61142258/198942273-fd05651e-3785-4c20-a745-dc1e8642c46e.gif)

[2022-10-31 06:12] Dun-sin commented on #349
Already implemented

[2022-10-31 06:12] Dun-sin commented on #349
Closing this

[2022-10-31 06:12] #349 closed

[2022-11-02 10:49] #315 closed

[2022-11-02 10:50] Dun-sin commented on #315
:tada: This issue has been resolved in version 2.32.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.32.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-03 08:22] Dun-sin opened #353 "[FEATURE] input text generator"
### Description

Related to #5

A generator that generates styling for input text elements

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the rules in the [Contributing Guidelines

[2022-11-03 08:24] Dun-sin opened #354 "[FEATURE] input range style generator"
### Description

Related to #5

A generator that generates styling for input range elements

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the rules in the [Contributing Guideline

[2022-11-04 18:08] Dun-sin opened #356 "[FEATURE] add icon to the categorizes"
### Description

Add icons to the new categorizes using iconify (icon package used in this project)

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the rules in the [Contributing G

[2022-11-04 18:20] #356 closed

[2022-11-04 18:21] Dun-sin commented on #356
:tada: This issue has been resolved in version 2.35.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.35.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-04 23:47] Ghasty003 opened #358 "[FEATURE] Addition of a Replay button"
### Description

I feel a "Replay" button needs to be added beside the "Get code" button.
This will allow the user to see the result more than once to decide if they'd go for it or not, instead of clicking on the back button and the "Get Results" button multiple time. I encountered this personally.

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked i

[2022-11-05 06:28] Dun-sin commented on #358
That's what the open icon at the top-right is for😝

Thanks for making an issue tho

[2022-11-05 06:29] Dun-sin commented on #358
The main issue here is making it obvious since you didn't get it

[2022-11-05 06:29] #358 closed

[2022-11-05 13:34] Ghasty003 commented on #358
How do you think that can be done other than what I suggested though?

[2022-11-05 15:01] Dun-sin commented on #358
I was thinking to add a quick text that vanishes after 5 sec, the text will be a quick direction for what the icon is for

[2022-11-05 16:22] Ghasty003 commented on #358
Well, if you think that would be better, no problem.
Would you open the issue and assign it to me?

[2022-11-05 16:23] Ghasty003 commented on #358
Hb

Well, if you think that would be better, no problem.
Would you open the issue and assign it to me?

[2022-11-05 17:15] Dun-sin commented on #358
You can open the issue

[2022-11-05 20:21] Ghasty003 opened #359 "[FEATURE] Description text under the back Icon button and additional functionality to the nav bar."
### Description

Adding an animated text that tells the user the icon beside the "Result"  text is clickable and would take them back to the initial page.

Also, adding functionality to the nav bar, so that when user clicks on body ( ```document.addEventListener``` ), the nav bar would close. Like it was achieved using the "Cross bar" icon ontop of the nav bar.

### Screenshots

_No response_

###

[2022-11-05 20:48] Dun-sin commented on #359
The second part is a different issue and should be created as one.

The first part is not exactly in result page, the input page is where it should be

[2022-11-05 21:43] Ghasty003 opened #360 "[FEATURE] tapping outside the menu bar should close it in mobile view"
### Description

Adding functionality to the nav bar, so that when user clicks on body ( ```document.addEventListener``` ), the nav bar would close. Like it was achieved using the "Cross bar" icon ontop of the nav bar.

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar iss

[2022-11-06 04:12] Dun-sin commented on #359
Ah, it doesn't make sense to be in the result page, since it's an indication to go to result page.

It's just like placing a direction for a school, in the school instead of on the way to the school

[2022-11-06 06:03] Ghasty003 commented on #359
Hum. I just understand your point now.
You mean the text should be in the circled part in the image below?

![Screenshot_20221106-070158](https://user-images.githubusercontent.com/85039185/200156699-ceb9f87e-0b72-4044-b151-1da114ead742.png)

[2022-11-06 06:53] Dun-sin commented on #359
Yes that

[2022-11-06 07:13] Ghasty003 commented on #359
Can I pick it up?

[2022-11-06 11:06] Dun-sin commented on #359
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.

[2022-11-06 11:14] Dun-sin opened #362 "[BUG] incomplete download in gradient text"
### Description

When downloading an image, it doesn't download the complete text

### Screenshots

![gradient-text(5)](https://user-images.githubusercontent.com/78784850/200167378-61b25ca1-ab21-4302-a04a-1b2fb585c234.png)

### Additional information

Note: you can only test/fix this bug in Firefox

### 🥦 Browser

Mozilla Firefox

### 👀 Have you checked if this issue has been raised before?

- [X]

[2022-11-06 11:30] Ghasty003 commented on #360
Can I create another pull request since I've already worked on it?
I wouldn't want to waste my efforts, please.😅
@Dun-sin

[2022-11-06 11:32] Ghasty003 commented on #359
Alright. I'll submit a PR soon.

[2022-11-06 11:41] Dun-sin commented on #360
No

[2022-11-06 11:41] Ghasty003 commented on #359
Can you be so kind and reassign the issue to me? I mistakenly unassigned myself.

[2022-11-06 11:45] Ghasty003 commented on #360
Can I know why?
I've done this already. I wouldn't want a wasted effort.

[2022-11-06 11:47] Dun-sin commented on #360
I like to leave this for new contributors, which was my plan, don't waste my plan too🤞🏽

[2022-11-06 11:49] Dun-sin commented on #360
Sorry for your wasted effort but if you read the project rules, this wouldn't have been a wasted effort

[2022-11-06 11:50] Ghasty003 commented on #360
How about you leave this for me and assign the other one to new contributor? I'm already done with this particular one.
Be so kind to understand my words.

[2022-11-06 11:54] Dun-sin commented on #360
Okay

[2022-11-06 14:40] #360 closed

[2022-11-06 14:40] Dun-sin commented on #360
:tada: This issue has been resolved in version 2.36.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.36.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-06 17:48] slim-codes commented on #362
can I grab this issue?

[2022-11-06 19:03] Dun-sin commented on #362
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-11-07 08:32] Dun-sin opened #365 "[FEATURE] add try…catch to copy to clipboard"
### Description

Doing this allows the user to know if there's an error with copying their code and can try again

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the rules in the [

[2022-11-07 08:38] Dun-sin opened #366 "[FEATURE] add default case to actongenerator function"
### Description

there's no default case for the switch statement in actongenerator function in general.ts.

There should be one for when any of the cases don't match

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

[2022-11-07 10:03] Dun-sin commented on #354
:tada: This issue has been resolved in version 2.37.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.37.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-07 14:06] slim-codes commented on #362
@Dun-sin

I've tested the text generator on Firefox (Android device) and Firefox(Desktop). The issue isn't present on my own end when I click the download button through my Android. However, it does present itself when I simulate various mobile viewports through my computer and hit download afterward. Below is the **PNG** I obtain on my Android using Firefox:

![gradient-text(1)(1)](https://user-i

[2022-11-07 18:42] rupali-codes commented on #366
Hi @Dun-sin,
What is should be added in default case?

[2022-11-07 18:48] Dun-sin commented on #366
You can set copyToClipboard = `Can't copy, pls try again`

[2022-11-07 19:06] rupali-codes commented on #366
Ok, I'll take this if nobody does.

[2022-11-07 20:04] #365 closed

[2022-11-07 20:05] Dun-sin commented on #365
:tada: This issue has been resolved in version 2.39.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.39.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-09 14:20] #366 closed

[2022-11-09 14:21] Dun-sin commented on #366
:tada: This issue has been resolved in version 2.41.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.41.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-11 16:18] #359 closed

[2022-11-16 05:33] Dun-sin opened #369 "[FEATURE] add link to star project in menu"
### Description

Like the contribute to project link in the menu, replace it staring the project, using a GitHub button.

Find it [here](https://buttons.github.io/)

### Screenshots

Replace:
![image](https://user-images.githubusercontent.com/78784850/202088289-e900b264-c2e7-4ee2-bcd6-bbcec4f8f0a9.png)

With:
![image](https://user-images.githubusercontent.com/78784850/202092062-2b3c5b66-1bd0-490d-

[2022-11-16 06:05] Jonnie-Dev commented on #369
Hi Dunsin, can I take this 🙂

[2022-11-16 06:08] Dun-sin commented on #369
👇🏾
![image](https://user-images.githubusercontent.com/78784850/202097849-2ad741f2-f126-405c-bc86-2d78c716c640.png)

[2022-11-16 06:47] Rishav-12 commented on #369
Hey, can I work on this?
And a small question... Should only the "Click Here" link be replaced with the Star button, or the whole text including "Contribute to the Project"?

[2022-11-16 06:58] Dun-sin commented on #369
alright you got it, make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.

Also, yes the whole text. Good luck

[2022-11-16 09:03] Rishav-12 commented on #369
Hi, can you let me know the type of change I should select in the `git cz` selection? I am a little confused.

[2022-11-16 09:10] genbigbadsmoke commented on #369
Can I join in on this even though I’m confused?

[2022-11-16 09:13] Dun-sin commented on #369
it's a feature

[2022-11-16 09:14] Dun-sin commented on #369
i don't think extra help is needed

[2022-11-16 09:15] genbigbadsmoke commented on #369
Alright

[2022-11-16 09:18] Rishav-12 commented on #369
Thanks

[2022-11-16 09:59] #369 closed

[2022-11-17 09:10] Rishav-12 opened #371 "[DOCS] list of features in README"
### Description

One of the features on the website, the Input range option is not listed in the README.

### Screenshots

In README.md
![image](https://user-images.githubusercontent.com/76068105/202403859-8dbf9431-7094-4781-b7dc-685674e13604.png)

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

[2022-11-17 10:18] Dun-sin commented on #371
Thanks for raising the issue, will mark this as a good first issue for new contributors

[2022-11-22 14:02] sudoCss commented on #353
Hi, I would like to contribute to this project.

Can you please give some examples on what exactly is "input text style" so I see if i can do a generator for it?

[2022-11-22 21:47] Dun-sin commented on #353
The input text type of input elements in CSS, like the range one that already exists in the project

[2022-11-23 03:37] sudoCss commented on #353
You mean the normal text input?

Like `<input type="text"/>`?

If that's it, then I would like to do it!

If not, then I'm really I didn't get it yet... Can you explain more (maybe provide a little code snippet.

Thank you for your time to respond.

[2022-11-26 13:08] Dun-sin opened #373 "[FEATURE] Animation preview"
### Description

Add a preview to the animation generator so the user can see a mini preview like the box shadow generator.

### Screenshots

![Screenshot_2022-11-26-14-06-03-276-edit_org mozilla firefox](https://user-images.githubusercontent.com/78784850/204090488-739a4c3b-5f17-4fba-bdcb-8b2d5a5314f9.jpg)

### Additional information

_No response_

### 👀 Have you checked if this issue has been ra

[2022-11-26 18:01] SushanthReddy-49 commented on #373
Hey, @Dun-sin I want to work on this issue. Please assign this to me.

[2022-11-26 18:23] Dun-sin commented on #373
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.

Good Luck

[2022-11-27 07:07] Dun-sin commented on #353
Hi @sudoCss, an update on this pls?

[2022-11-27 14:32] sudoCss commented on #353
Hi, Hope you're doing well!

Yeah sure!! It's almost done, just need a bit more work on the logic side (ts).

I wanted to take your opinion about some stuff, but unfortunately has no extra time yesterday...

1. About the sidebar icon, is this one okay?
![icon](https://user-images.githubusercontent.com/84265453/204139996-81b394a4-478b-40bd-a5ac-5dfbea580c9f.png)

It is this icon i used from `iconif

[2022-11-27 15:13] Dun-sin commented on #353
hi @sudoCss, thanks for the update

1. the icon is great
2. i think there are too much stuff as option(like boxshadow, font-size) think about things people really have problem styling in input type text and also you can group things together so we have space
like this, you are giving some option too many space that isn't needed
![image](https://user-images.githubusercontent.com/78784850/204142552-

[2022-11-27 15:25] sudoCss commented on #353
Ok then I'll remove some of the easier-to-style stuff and focus on the other things (harder to style maybe🤔)

And I'll make sure to use the available space more wisely too, thanks for the advice.

But in general if there is still scrolling then what? Is it okay to keep it like what you saw in the last comment (sticky preview with scrolling controls)?

I'd like to take your input on that as well!

[2022-11-27 16:01] Dun-sin commented on #353
if it can't be helped then it's okay as long as the copy css button and the preview element are sticky

[2022-11-27 19:21] Dun-sin commented on #371
:tada: This issue has been resolved in version 2.46.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.46.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-28 09:23] Dun-sin commented on #353
hi @sudoCss, pls make sure to pull the latest changes, some things have been changed, to avoid merge conflicts

[2022-11-28 12:24] sudoCss commented on #353
Yes, sure don't worry about that. I'm not a git expert yet but I can handle this one surely😅

[2022-11-29 09:32] sudoCss commented on #353
Hi @Dun-sin, I wanted to tell you that I couldn't get it to work, I didn't have enough time to study the code base and immediately started working on the interface, I'm so sorry for wasting your time on this and I'm sorry that I asked you to assign this issue to me; I should have put more thought into that and made sure it was a good time for me to start getting involved in open source projects.

[2022-11-29 09:47] Dun-sin commented on #353
@sudoCss

You don't need to give up, just tell me what you have problem with.

That's if you still want to work on it

[2022-11-29 10:42] sudoCss commented on #353
Thank you for your offer to help, I really appreciate it.

It's not "giving up" actually! it's more of "me not being ready at the current time", I'm sure I can figure it out on my own for sure, but only if I have enough time to put into doing that; But as I said, I've started at the wrong period of the year for me😅

[2022-11-29 15:05] Dun-sin commented on #353
my offer still stands if you want me to make the code easier for you to understand

[2022-11-29 15:25] sudoCss commented on #353
I really really appreciate it, but I think I'll come back and try getting involved in open source sometime in the near future...

For the time being, I guess I'll just focus on my university assignments and project cuz i think I'm not able to handle both things at the same time😅.

Thank you again for your kindness and patience.

[2022-11-29 18:31] Dun-sin commented on #353
okay @sudoCss no problem, Good Luck. But do me a favor, can you push the UI changes you did to this branch `353-feature-input-text-style-generator`, so at least someone else or me got something to continue with. Instead of abandoning all your hard work

[2022-11-29 18:48] sudoCss commented on #353
Oh I'm afraid I've deleted my fork and the local clone already😬.

I had to ask you about that first, sorry I didn't.

[2022-11-30 05:42] Dun-sin commented on #353
Alright