[2022-07-08 11:21] Dun-sin opened #1 "[BUG] Make Website Mobile responsive"
### Description

The website was first created with the Desktop first design approach, need to make mobile friendly and responsive

### Screenshots

_No response_

[2022-07-08 11:22] Dun-sin opened #2 "[DOCS] Improve README"
### Description

Add icons of the `Languages / tools` to the `README.md`

### Screenshots

_No response_

[2022-07-08 11:26] Dun-sin opened #3 "[FEATURE] Make the `pic-text` generator output downloadable"
### Description

Use an npm package to make the output generated downloadable either in `image`,`svg` or `copy code` form.

Using the `Download Image` amd `Download Svg` buttons

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/177983478-0c06f21c-2dd3-4d02-b1ea-88006b811cc3.png)

[2022-07-08 11:28] Dun-sin opened #4 "[FEATURE] Write better code"
### Description

If you find a code that uses bad coding principle, propose a better way to do it and why?

### Screenshots

_No response_

[2022-07-08 11:34] Dun-sin opened #5 "[FEATURE] Suggest new generator ideas"
### Description

If you have a generator idea, suggest it with a codepen example of how it works

### Screenshots

_No response_

[2022-07-16 09:23] damoski2 opened #8 "[Copy to clipboard issue]"
### Description

### There are some issues with copying the formatted code text to clipboard and also toggling the display of the text on initial submission.

### Screenshots

![Screenshot 2022-07-16 at 10 21 48](https://user-images.githubusercontent.com/62991627/179348993-b62cd09b-2947-4476-abe6-35e43b66ae47.png)

[2022-07-16 10:48] Dun-sin commented on #8
you can fix it if you want

[2022-07-16 11:23] damoski2 commented on #8
Alright thank you

[2022-07-16 11:54] damoski2 commented on #8
Since this issue is already resolved can this issue be closed?

Also i followed you, i'll appreciate a follow back😄

[2022-07-16 13:04] #8 closed

[2022-07-18 14:08] Dun-sin opened #11 "[FEATURE] Text Gradient Generator"
### Description

In reference to #5

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/179529621-9ad779d7-ce9f-41bc-98c1-3058fd659844.png)

[2022-07-19 09:54] Dharmik48 commented on #3
Can I work on this?

[2022-07-19 09:57] Dun-sin commented on #3
Sure go ahead

[2022-07-19 13:20] #3 closed

[2022-07-19 15:03] Dun-sin opened #16 "[FEATURE] Add functionality to text gradient generator"
### Description

Just the layout is done. Functionality needs to added

### Screenshots

_No response_

[2022-07-19 16:07] Dun-sin commented on #1
No, go for it

[2022-07-19 21:55] Mynameisfrostwalker commented on #11
Would like to try this. Is anyone working on this?

[2022-07-20 14:47] Abunuman commented on #16
What is the proposed aim for creating the layout . This should help anyone willing to contribute on its functionality

[2022-07-20 14:50] Dun-sin commented on #16
You can check the live website,to see just the layout(plain html and css). I'm working on this just forgot to assign myself to it

[2022-07-20 16:06] Abunuman commented on #16
Yeah I found that its not functional yet

[2022-07-20 17:34] Dun-sin commented on #16
Yeah that's why there is this issue

[2022-07-21 13:44] #16 closed

[2022-07-21 13:52] #11 closed

[2022-07-23 10:36] ayushlohmod opened #23 "[BUG] Navbar dropdown menu Not Working!"
### Description

The top Navbar drop down menu is not working !

### Screenshots

<img width="1433" alt="Screenshot 2022-07-23 at 4 01 42 PM" src="https://user-images.githubusercontent.com/37297939/180601532-6cb8a20e-351a-4d5f-8133-8cf848626f41.png">

[2022-07-23 10:40] Dun-sin commented on #23
yep, for now, it should probably just be commented out. You can do it if you want

[2022-07-23 16:19] KendallDoesCoding commented on #2
@Dun-sin this seems to be complete, please close this issue.

[2022-07-24 03:17] Dun-sin commented on #2
Not complete, the issue name is `improve` readme. Means someone can have an `improvement` to it that we don't know of

[2022-07-24 09:56] temycodes commented on #23
I can help you fix it if you give me access to your repo. The little bug can be fixed.

[2022-07-24 10:04] Dun-sin commented on #23
It's open source, which means you already do. Look at the `readme.md` file and `contributing.md` on how to

[2022-07-24 11:34] temycodes commented on #23
oh! okay... I will see what I can do. thanks

[2022-07-24 11:37] dhrumishah commented on #1
Is this issue still open?

[2022-07-24 12:02] Dun-sin commented on #1
Yeah it is

[2022-07-24 13:45] dhrumishah opened #29 "[FEATURE] Gradient Background Generator"
### Description

In reference to issue #5

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/183375805-478b002f-4ef2-4ab8-8b1b-da50482b45ff.png)

[2022-07-24 13:46] Dun-sin commented on #29
Thanks for creating this issue, we will get back to you soon

[2022-07-24 17:26] Dun-sin commented on #29
Do you want to work on this?

[2022-07-24 18:30] Dun-sin opened #30 "[FEATURE] test actions"
### Description

Testing the new actions

### Screenshots

_No response_

[2022-07-24 18:37] Dun-sin opened #31 "testing action"

[2022-07-25 01:45] dhrumishah commented on #29
Yeah I'll give it a try :)

[2022-07-25 03:08] Dun-sin commented on #29
Alright go for it💪🏽

[2022-07-25 06:20] Dun-sin opened #32 "testing"

[2022-07-25 07:50] Dun-sin opened #33 "testing"

[2022-07-25 07:52] Dun-sin opened #34 "tesing"

[2022-07-25 07:53] Dun-sin commented on #34
Thanks for creating this issue, make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request[Automated]

[2022-07-25 08:23] Dun-sin opened #36 "testing"

[2022-07-25 08:23] Dun-sin commented on #36
Thanks for creating this issue, make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request[Automated]

[2022-07-25 08:33] Dun-sin opened #37 "testing"

[2022-07-25 08:33] Dun-sin commented on #37
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request[Automated].

[2022-07-25 08:35] Dun-sin opened #38 "testing"

[2022-07-25 08:36] Dun-sin commented on #38
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request[Automated].

[2022-07-25 08:37] Dun-sin opened #39 "testing"

[2022-07-25 11:53] Dun-sin opened #40 "[FEATURE] Separate each Generator functionality into modules"
### Description

Every generator should have its own ts file for functions that should be exported and used in the main file

### Screenshots

_No response_

[2022-07-25 11:54] Dun-sin commented on #40
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request[Automated].

[2022-07-25 11:54] Dun-sin commented on #40
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request[Automated].

[2022-07-25 13:47] #40 closed

[2022-07-25 14:56] Dun-sin commented on #1
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request[Automated].

[2022-07-27 06:06] Dun-sin commented on #40
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-27 06:06] Dun-sin commented on #16
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-27 06:06] Dun-sin commented on #11
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-27 06:06] Dun-sin commented on #3
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-27 06:06] Dun-sin commented on #8
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-27 06:07] Dun-sin commented on #40
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request[Automated].

[2022-07-27 06:07] Dun-sin commented on #16
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request[Automated].

[2022-07-27 06:07] Dun-sin commented on #3
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request[Automated].

[2022-07-27 06:08] Dun-sin commented on #8
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request[Automated].

[2022-07-27 06:08] Dun-sin commented on #11
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request[Automated].

[2022-07-27 15:51] Vector-ozo opened #50 "Button issue"
Omo, I love the work, absolutely great
But i noticed the download image and get code buttons are kind of stepping out of their boundaries, atleast that how i see it in my phone.

[2022-07-27 15:52] Dun-sin commented on #50
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - https://discord.gg/kcFraw3nhz [Automated].

[2022-07-27 15:52] Dun-sin commented on #50
Wow, you just created your first issue on this project, that's so cool. Make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request. Also join the community - https://discord.gg/kcFraw3nhz [Automated]

[2022-07-28 02:05] Dun-sin commented on #50
Yep they aren't mobile responsive😭 but someone's working on it

[2022-07-28 04:23] Dun-sin opened #51 "[FEATURE] Another option to close the modal"
### Description

When a user clicks outside the modal, it should close it

### Screenshots

_No response_

[2022-07-28 05:25] Dun-sin opened #52 "[FEATURE] option to pick colors"
### Description

In the gradient text generator, the colors in the gradient are fixed, users should get the option to pick the two colors they want

### Screenshots

_No response_

[2022-07-28 09:11] Dun-sin opened #53 "[FEATURE] Gradient Border Generator"
### Description

Add generator for gradient border

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/181468295-d06d8020-906a-48f7-b4e4-a44c5ec12792.png)

[2022-07-28 11:20] #53 closed

[2022-07-28 11:21] Dun-sin commented on #53
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-28 18:48] #52 closed

[2022-07-28 18:48] Dun-sin commented on #52
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-29 12:09] #51 closed

[2022-07-29 12:09] Dun-sin commented on #51
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-07-29 12:45] #1 closed

[2022-07-29 12:46] Dun-sin commented on #1
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-07-29 12:46] Dun-sin commented on #51
:tada: This issue has been resolved in version 1.9.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-29 12:46] Dun-sin commented on #1
:tada: This issue has been resolved in version 1.9.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-29 12:47] Dun-sin commented on #1
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-07-29 12:47] Dun-sin commented on #51
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-04 12:32] Dun-sin commented on #29
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-06 03:53] senali-d opened #65 "[BUG] UI/UX Issue (Responsive)"
### Description

**Issue:** Footer section overlap with the page content.

**Solution suggestion:** Set some background color to the footer.

### Screenshots

![trick](https://user-images.githubusercontent.com/52546856/183232601-2bc664c6-d3b8-4e43-8d9e-df514a4892de.png)

[2022-08-06 03:54] Dun-sin commented on #65
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-06 03:54] Dun-sin commented on #65
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-06 03:54] Dun-sin commented on #65
Wow, you just created your first issue on this project, that's so cool. Make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request. Also join the community - [Automated]

[2022-08-06 03:55] Dun-sin commented on #65
Do you want to work on this?

[2022-08-07 11:11] pushkaraj2007 commented on #65
I can work on it!

[2022-08-07 11:16] pushkaraj2007 commented on #65
I can work on it!

Should I keep The position of the text fixed or should I place it at the bottom of the page, to make it responsive?

[2022-08-07 12:44] Dun-sin commented on #65
Place it at the bottom and make it responsive using clamp or min-max because on mobile the text is too big

[2022-08-07 13:11] pushkaraj2007 commented on #65
Sure! working on it.

[2022-08-07 14:00] #65 closed

[2022-08-07 14:00] Dun-sin commented on #65
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-07 14:00] Dun-sin commented on #65
:tada: This issue has been resolved in version 1.9.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.9.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-07 14:01] Dun-sin commented on #65
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-07 14:54] #50 closed

[2022-08-07 14:54] Dun-sin commented on #50
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-07 15:29] Dun-sin opened #67 "[FEATURE] Use a package for picking colors"
### Description

**Problem**: At the moment the color picker input is the default for browsers, and it's ugly

**Solution**: Use an NPM package, you can try this one [a-color-picker](https://www.npmjs.com/package/a-color-picker) or another that you like

### Screenshots

#### **Present Picker**

![image](https://user-images.githubusercontent.com/78784850/183298531-f73d3228-e781-43e8-8744-2fe337100

[2022-08-07 15:30] Dun-sin commented on #67
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-07 15:30] Dun-sin commented on #67
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-07 15:30] Dun-sin commented on #67
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-07 15:30] Dun-sin commented on #67
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-07 15:48] Dun-sin opened #68 "[FEATURE] Add border radius to border gradient generator"
### Description

Problem: Right now, the border gradient generator doesn't allow you to create a border radius type of border

Solution: Add a checkbox should check if the user wants a border radius border, if they do, generate the border with border radius

### Screenshots

**_What it looks like now_**

![right now it does this](https://user-images.githubusercontent.com/78784850/183299354-6a10c3f

[2022-08-07 15:49] Dun-sin commented on #68
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-07 15:49] Dun-sin commented on #68
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-07 15:55] slim-codes commented on #68
I'd like to work on this.@Dun-sin

[2022-08-07 15:57] Dun-sin commented on #68
Sure, go ahead

[2022-08-07 15:58] Dun-sin commented on #68
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-07 15:58] Dun-sin commented on #68
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 03:47] Dun-sin commented on #29
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 03:48] Dun-sin commented on #5
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 03:48] Dun-sin commented on #5
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 03:57] Dun-sin opened #69 "[DOCS] Gitpodify the project"
### Description

Adding Gitpod makes it easier for people to contribute to this project

Use this to know how to add [Gitpod](https://www.gitpod.io/blog/gitpodify)
Add it to the `readme.md` file

### Screenshots
**_Should look like this after_**

![image](https://user-images.githubusercontent.com/78784850/183336264-09d5d41c-14e3-45b5-90d4-0619791f959d.png)

[2022-08-08 03:57] Dun-sin commented on #69
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 03:57] Dun-sin commented on #69
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 04:00] Dun-sin commented on #69
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 07:21] Dun-sin commented on #69
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 07:21] Dun-sin commented on #69
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 08:29] Dun-sin commented on #69
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 08:29] Dun-sin commented on #68
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 08:31] Dun-sin commented on #67
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 08:31] Dun-sin commented on #29
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 08:31] Dun-sin commented on #23
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 08:32] Dun-sin commented on #29
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 08:36] Dun-sin commented on #29
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 08:36] Dun-sin commented on #29
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 09:01] razaahmad333 opened #71 "[BUG] generator cards not aligned in center on mobile devices"
### Description

The generator cards not aligned in center.

I can fix this issue

@Dun-sin can you please assigned it to me.

### Screenshots

![bandicam 2022-08-08 14-28-41-687](https://user-images.githubusercontent.com/50910798/183380686-6f2f8cd8-b983-4ee2-aa13-a2066e2fab82.jpg)

[2022-08-08 09:01] Dun-sin commented on #71
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 09:01] Dun-sin commented on #71
Thank you for creating this issue. Wait until you are allowed to work on this before you start, and do not forget to include this issue in your pull request. While you wait, don't forget to join the community - [Automated].

[2022-08-08 09:01] Dun-sin commented on #71
Wow, you just created your first issue on this project, that's so cool. Make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request. Also join the community - [Automated]

[2022-08-08 09:22] Dun-sin commented on #71
sure go ahead

[2022-08-08 09:33] #29 closed

[2022-08-08 09:34] Dun-sin commented on #29
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-08 09:37] Dun-sin opened #73 "[BUG] Get code button malfunction"
### Description

The get code button is meant to copy code to clipboard, that works okay, but the problem is when the button is clicked for the first time, nothing happens. It works the second time

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/183387764-7a658560-cfa3-43e2-8b28-2d204f66931b.png)

[2022-08-08 09:40] SushanthReddy-49 commented on #73
I would like to work on this. Can you please assign this to me @Dun-sin

[2022-08-08 09:44] Dun-sin commented on #73
awesome, thanks for contributing

[2022-08-08 09:54] #71 closed

[2022-08-08 09:54] Dun-sin commented on #71
:tada: This issue has been resolved in version 1.10.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-08 10:07] razaahmad333 opened #75 "significance of arrow icon on generator card ?"
### Description

If we click on generator card,
then The modal get opened,
so what is the need of the arrow button on the bottom of generator card

I can fix this. @Dun-sin

### Screenshots

![bandicam 2022-08-08 15-35-33-045](https://user-images.githubusercontent.com/50910798/183393937-09b2b9bb-e078-48d8-9df7-a43a5765fc9d.jpg)

[2022-08-08 10:11] Dun-sin commented on #75
To signify that it can be opened, that't just it I guess

[2022-08-08 10:12] razaahmad333 commented on #75
sorry, I will take care of it next time for sure.

[2022-08-08 10:12] Dun-sin commented on #75
you can always edit things, as long as you wrote them

[2022-08-08 10:15] Dun-sin commented on #75
@razaahmad333 title should be a summary like i just did, the description should tell more about it

[2022-08-08 10:16] razaahmad333 commented on #75
okay

[2022-08-08 10:17] #75 closed

[2022-08-08 22:32] fbfdsouza commented on #69
hey @Dun-sin created the pr for this https://github.com/Dun-sin/trick-generator/pulls

[2022-08-09 06:54] KendallDoesCoding commented on #69
Can I work on this @Dun-sin

[2022-08-09 06:55] KendallDoesCoding opened #78 "[DOCS] Extra bullet point in CONTRIBUTING.MD"
### Description

There is a extra bullet point, in CONTRIBUTING.MD

### Screenshots

![image](https://user-images.githubusercontent.com/84712013/183584125-96b2357e-913e-4b9b-bfd9-2b0e490a30ec.png)

[2022-08-09 06:56] Dun-sin commented on #78
Wow, you just created your first issue on this project, that's so cool. Make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request [Automated]

[2022-08-09 07:25] Dun-sin commented on #78
i didn't notice that, you can work on it if you want

[2022-08-09 07:25] Dun-sin commented on #69
sure

[2022-08-09 07:53] #78 closed

[2022-08-09 07:54] #69 closed

[2022-08-09 07:54] Dun-sin commented on #78
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-09 07:54] Dun-sin commented on #69
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-09 09:54] razaahmad333 opened #81 "[BUG] generator card's images looks stretched"
### Description

The images on generator cards looks stretched because of hard coding their width and height irrespective of their aspect ratio .

![bandicam 2022-08-09 15-20-31-555](https://user-images.githubusercontent.com/50910798/183619967-e4c22acc-0a6a-4e9c-afaa-94e710e6ae8e.jpg)

I want to fix this and make this look like.

![bandicam 2022-08-09 15-20-38-058](https://user-images.githubuserco

[2022-08-09 11:37] razaahmad333 opened #82 "[BUG] code generated by gradient-text not working"
### Description

For a given text,
The gradient text generator generates the following code

[code]

This code do not makes the text look gradient

The correct one I would suggest
[code]

will be more appropriate

### Screenshots

_No response_

[2022-08-09 11:39] Dun-sin commented on #81
Yeah go ahead

[2022-08-09 11:42] Dun-sin commented on #82
Yeah I know, but at a point that's all I could generate, if you can fix it please do.

Also use conventional commits(pls watch a video on it) or [Read this](https://www.conventionalcommits.org/en/v1.0.0/)

[2022-08-09 11:44] razaahmad333 commented on #82
okay, fine

[2022-08-09 11:45] razaahmad333 commented on #81
![CSS-linear-gradient-border-top-to-bottom](https://user-images.githubusercontent.com/50910798/183639196-f0feb476-cfa3-4396-8556-b251666d7ead.jpg)

Then new gradient border image I would like to add.

[2022-08-09 12:20] #81 closed

[2022-08-09 12:20] Dun-sin commented on #81
:tada: This issue has been resolved in version 1.11.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.11.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-09 14:45] gambhirsharma commented on #67
Can I work on this Feature?

[2022-08-09 14:53] gambhirsharma opened #84 "[Bug] Title animation is not working properly"
### Description

# Problem
The Title animation is not looking good. It looks like the screen is flickering.

# Solution
You made the animation using a change in liner gradient but I changed it to background movement. I know this sounds creepy but this is the best I could explain.

### Screenshots

https://user-images.githubusercontent.com/69895353/183681732-fd9dc5ab-791c-4216-993c-ffb656c83ce4.mp4

[2022-08-09 14:54] Dun-sin commented on #84
Wow, you just created your first issue on this project, that's so cool. Make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request [Automated]

[2022-08-09 15:20] Dun-sin commented on #67
Sure go on

[2022-08-09 15:22] Dun-sin commented on #84
Oh yeah I was waiting for someone to correct this so go ahead now. Don't combine your changes into one pull request

[2022-08-09 15:49] Dun-sin opened #85 "[DOCS] add prettier file"
### Description

Right now the indentations and styling of code is based on contributors IDE or editor, to make it universal, prettier should be added

### Screenshots

_No response_

[2022-08-09 15:57] fk00750 commented on #85
Adding prettier work ?? Can i use prettier or any other code formatter

[2022-08-09 16:04] KendallDoesCoding commented on #85
Yeah, it would make better sense to add the gh-action of Prettier to automatically format code instead of doing it manually, cause no human can do that 😆 !

[2022-08-09 16:05] KendallDoesCoding commented on #85
@Dun-sin Example of the Prettier gh-action can be found here:-[https://github.com/collab-community/journey-book/blob/main/.github/workflows/prettier.yml](https://github.com/collab-community/journey-book/blob/main/.github/workflows/prettier.yml)

[2022-08-09 16:13] Dun-sin commented on #85
You can also do it that way, but adding the config files for it should do

[2022-08-09 16:41] #84 closed

[2022-08-09 22:11] Tausifqureshi786 commented on #85
Is someone working on this issues?

[2022-08-10 05:08] Dun-sin commented on #85
No you can take it

[2022-08-10 05:56] fk00750 commented on #85
Hey can you assign me this issue?

[2022-08-10 05:58] Dun-sin commented on #85
Already assigned someone else

[2022-08-10 13:33] #82 closed

[2022-08-10 14:37] gambhirsharma opened #90 "[BUG] Nav content are not centered properly."
### Description

## Problem
- Content of Nav is not vertically aligned.

## Solution
- Correction in Nav padding might solve this issue.

### Screenshots

![Screenshot 2022-08-10 at 20-01-45 Trick Generator](https://user-images.githubusercontent.com/69895353/183929359-dad58fc5-bade-4659-ad18-5ab457c8d283.png)

[2022-08-10 15:02] pushkaraj2007 opened #91 "[FEATURE] Add toast popup after clicking 'Get Code' Button"
### Description

**Problem**: Right now when we click on the 'Get Code' button it just copies the code to the clipboard, without giving any hint that the code is copied.

**Solution**: add a popup when the code is copied to the clipboard, with the help of any JavaScript libraries like eggy.js

I can work on this!

### Screenshots

Something like this:

![Code Copied!](https://user-images.githubuse

[2022-08-10 16:18] Dun-sin commented on #91
Sure go for it, I was thinking to just make an alert but yes that's a better option

[2022-08-10 16:35] Dun-sin commented on #85
ESLint only affects Javascript I think, so it's just more unnecessary files when prettier can do better for all

[2022-08-10 16:39] pushkaraj2007 commented on #91
Did you liked the library of which screenshot I attached?

[2022-08-10 16:52] Dun-sin commented on #91
I was thinking not to use a library because well the copy code is also a library, but sure it looks good

[2022-08-10 16:56] pushkaraj2007 commented on #91
It's a lightweight library, 10kb - 12kb.

Do you want me to write the code from scratch?

[2022-08-10 17:02] Dun-sin commented on #91
No worries use the library

[2022-08-10 17:04] pushkaraj2007 commented on #91
Starting to work on it soon!!!

[2022-08-10 19:23] Tausifqureshi786 commented on #85
I was going through the prettier docs and there's an option to add pre commit hooks using lint-staged and husky so that whenever someone commits code the prettier job runs and it gets formatted. I just wanted to get an opinion from a senior on this approach as I haven't worked on something like this before. IMO it seems like the exact thing needed but could be wrong.[Git hooks Prettier DOCS page](

[2022-08-10 19:43] Dun-sin commented on #85
We don't need that, the regular prettier is fine

[2022-08-11 06:52] pushkaraj2007 commented on #91
Hey, what should be the text of the popup?

[2022-08-11 07:08] Dun-sin commented on #91
Code copied to clipboard

[2022-08-11 07:21] #90 closed

[2022-08-11 07:32] Dun-sin commented on #90
Hint, saying closes # issue in your pull request template and replaced it with fixes, it automatically closes this. If you want to know how to really use PR template, check the closed pull request and see how to actually fill it

[2022-08-11 17:55] Sylar-codex opened #97 "[FEATURE] Animated Modal"
### Description

Animation for the modal

There should be a beautiful animation whenever the modal opens
thereby adding more beauty to the user experience.

### Screenshots

_No response_

[2022-08-11 17:56] Dun-sin commented on #97
Wow, you just created your first issue on this project, that's so cool. Make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request [Automated]

[2022-08-11 18:14] Dun-sin commented on #97
Depends on the animation, make it and send a screen record here

[2022-08-11 18:33] Sylar-codex commented on #97
https://user-images.githubusercontent.com/78497310/184213560-730edfea-4674-4bf7-9f7e-2a1296c497ca.mov

here it is

[2022-08-12 03:46] gambhirsharma opened #98 "[FEATURE] Make a Landing page for the project."
### Description

The project doesn't contain any Landing page /Home page describing the project/ website.

A small and straightforward Landing page will make the website more appealing to the users.

### Screenshots

_No response_

[2022-08-12 03:52] gambhirsharma opened #99 "[FEATURE] Make a custom border radius generator."
### Description

This issue is in response to #5 issue.

Make a custom CSS border-radius generator similar to [Fancy-Border-Radius](https://9elements.github.io/fancy-border-radius/)

### Screenshots

_No response_

[2022-08-12 04:00] Dun-sin commented on #97
I don't like this animation, seems like a waste of time for users

[2022-08-12 04:04] Dun-sin commented on #98
Do you want to make it?

[2022-08-12 04:05] Dun-sin commented on #99
Why?

[2022-08-12 04:11] gambhirsharma commented on #98
Yes

[2022-08-12 04:13] gambhirsharma commented on #99
You made #5  asking for a new generator idea. So I thought it would be better if we include a custom CSS radius generator.

[2022-08-12 04:47] Dun-sin commented on #98
Join the community for this project and send the figma design to the thread for this project

[2022-08-12 04:48] Dun-sin commented on #99
If you can make it then sure

[2022-08-12 10:03] KendallDoesCoding opened #100 "[OTHER] Block "blank" issues from being created"
### What would you like to share?

In the other issue template it is stated to NOT create blank issues. I would suggest you blank block issues from being created. I can work on this if required @Dun-sin.

### Additional information

_No response_

[2022-08-12 14:16] Dun-sin commented on #100
Using GitHub actions?

[2022-08-12 14:26] KendallDoesCoding commented on #100
No, you just have to add a config file in the ISSUE_TEMPLATE with one line of code.

[2022-08-12 15:20] Dun-sin commented on #100
alright sure

[2022-08-12 20:10] #100 closed

[2022-08-12 20:15] #91 closed

[2022-08-13 09:02] Dun-sin commented on #100
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-13 09:02] Dun-sin commented on #91
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-13 09:02] Dun-sin commented on #82
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-13 09:02] Dun-sin commented on #84
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-13 09:02] Dun-sin commented on #81
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-13 15:23] #85 closed

[2022-08-13 18:12] Dun-sin opened #105 "[BUG] Make Mobile Responsive"
### Description

Problem: The input elements in the modal for the generators on mobile go out of the modal a little.

Solution: it's probably a padding or margin doing that. Use media query to make it fix in the modal container

### Screenshots

![Screenshot_2022-07-31-07-54-35-395_com brave browser](https://user-images.githubusercontent.com/78784850/184505834-02e0cce6-c5c8-43f2-b553-cedd146e4fc0.

[2022-08-14 01:12] Nitish-u opened #106 "There is an issue with text-pic generator"
### Description

It shows different text than provided

### Screenshots

![Screenshot_2022-08-13-23-19-04-80_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/70533456/184518401-8eca8901-9b02-41c3-ae15-0494dfbf8f05.jpg)

[2022-08-14 01:13] Dun-sin commented on #106
Wow, you just created your first issue on this project, that's so cool. Make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request [Automated]

[2022-08-14 03:32] pushkaraj2007 commented on #105
I can work on this!

[2022-08-14 03:37] pushkaraj2007 commented on #105
I can work on this!

[2022-08-14 03:47] pushkaraj2007 commented on #105
Can I work on this issue?

[2022-08-14 05:02] Dun-sin commented on #106
No worries it's not an issue, I just didn't add the functionality for that, mainly because you need a really full long text to make your image show properly

[2022-08-14 05:03] Dun-sin commented on #105
Sure

[2022-08-14 08:17] pushkaraj2007 commented on #105
I checked the website on my mobile, it's responsive!!

[2022-08-14 08:18] Dun-sin commented on #105
It's not, open it on your phone and open a generator

[2022-08-14 08:22] pushkaraj2007 commented on #105
Check this ⬇

![IMG_20220814_135152.jpg](https://user-images.githubusercontent.com/107422421/184528665-7a235832-3959-4fd0-b709-efd9ced03ec9.jpg)

[2022-08-14 08:26] Dun-sin commented on #105
Use your laptop and then adjust it

[2022-08-14 08:34] pushkaraj2007 commented on #105
At which viewport?

[2022-08-14 09:00] gambhirsharma opened #107 "[FEATURE] Dark Mode"
### Description

I need a dark mode.

### Screenshots

_No response_

[2022-08-14 09:16] pushkaraj2007 opened #108 "[BUG] Header not looking proper on small screen devices"
### Description

**Problem**: The Header/Navbar of a web page is not looking proper on small screen devices.

**Solution**: Decrease the right and left padding of a nav element.

### Screenshots

![Navbar issue](https://user-images.githubusercontent.com/107422421/184530369-f7b25359-39f5-4250-9c3e-a016a3824054.png)

[2022-08-14 09:44] Dun-sin commented on #105
Every check it

[2022-08-14 09:46] Dun-sin commented on #107
Not needed😂

[2022-08-14 09:46] #107 closed

[2022-08-14 09:46] Dun-sin commented on #108
Do you want to work on it?

[2022-08-14 10:00] pushkaraj2007 commented on #108
Yeah!

[2022-08-14 11:10] #108 closed

[2022-08-14 11:11] Dun-sin commented on #85
:tada: This issue has been resolved in version 1.12.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.12.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-14 11:11] Dun-sin commented on #108
:tada: This issue has been resolved in version 1.12.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.12.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-14 13:18] Akshat-Mishra101 opened #110 "[FEATURE] Create a simple animation generator"
### Description

Hey guys i'm new to open source :), and I want to contribute to this project by adding a simple css animation generator that supports rotating objects, skewing them, fade-in and fade-out with the option to adjust the duration

### Screenshots

_No response_

[2022-08-14 13:18] Dun-sin commented on #110
Wow, you just created your first issue on this project, that's so cool. Make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request [Automated]

[2022-08-14 15:52] Akshat-Mishra101 commented on #110
Sure :)

[2022-08-14 16:16] Dun-sin commented on #110
If you want to work on this, let me know

[2022-08-14 16:17] Akshat-Mishra101 commented on #110
Sure, I'd love to work on this. How can i start :)

[2022-08-14 17:47] Dun-sin commented on #110
Read [this](https://github.com/Dun-sin/trick-generator/blob/main/README.md) and [this](https://github.com/Dun-sin/trick-generator/blob/main/CONTRIBUTING.md)

[2022-08-15 05:17] Akshat-Mishra101 commented on #110
Thankyou, I'll start :)

[2022-08-16 12:09] Akshat-Mishra101 commented on #110
Hey @Dun-sin, I was wondering to what degree am I allowed to introduce my styles for the new animation generator. Should i prefer sticking to the old styles or is small change is allowed? :)

I'm adding a radio button group for choosing the types of animations

[2022-08-16 13:52] Dun-sin commented on #110
Depends, I can't really pick if I don't see what you are doing

[2022-08-17 05:08] Akshat-Mishra101 commented on #110
![Screenshot (232)](https://user-images.githubusercontent.com/84511650/185039444-70eb4f1a-7863-4fd7-9850-9a7f3d40becb.png)
Here's the change, I've introduced a new class for the radiobutton group

[2022-08-17 05:09] Akshat-Mishra101 commented on #110
Also, a new style for the duration selection input and label

[2022-08-17 08:20] Dun-sin commented on #110
Sure, it's okay by me

[2022-08-18 14:50] Akshat-Mishra101 commented on #110
Thanks man, it's gonna look really good now :)

[2022-08-20 03:27] #106 closed

[2022-08-20 03:31] Dun-sin opened #111 "[DOCS] add picture to readme"
### Description

Adding the live picture or gif of a project in the `readme.md` file is good.

Use a screenshot or a gif

### Screenshots

_No response_

[2022-08-20 07:07] Dun-sin opened #112 "[OTHER] Use npm ci"
### What would you like to share?

In Github actions, `npm install` is used to install dependencies, but using `npm ci`is much better

Change Github actions to use `npm ci` instead of `npm install`

### Additional information

_No response_

[2022-08-20 15:54] KendallDoesCoding commented on #111
Do you want 1 screenshot, of the homescreen or 6 screenshots added of all the pages?

I can work on this @Dun-sin

[2022-08-20 15:55] #110 closed

[2022-08-20 15:57] KendallDoesCoding opened #114 "[BUG] Copy code doesn't work on the first time"
### Description

The copy code button doesn't work when pressed the first time, even though it shows on screen, "Copied to Clipboard" it only actually copies to "Clipboard" on the second clip/second time it shows "Copied to Clipboard".

While this is no problem, it makes it inconvenient for users at times.

### Screenshots

_No response_

[2022-08-20 16:00] KendallDoesCoding commented on #105
I had a issue on this for many of my projects, it all depends on the phone size, usually iPhones and all tend to be a issue but Androids not so much, while 50% of phones may be responsive to the website, another 50% or so it's not responsive, it all depends on the phone brand, so while working on this issue, we will have to adjust the size depending on the model of the phone, if possible (but I've

[2022-08-20 16:01] Dun-sin commented on #111
sure, go ahead

[2022-08-20 16:02] Dun-sin commented on #114
duplicate issue to this #73

[2022-08-20 16:02] #114 closed

[2022-08-20 16:03] Dun-sin commented on #105
I use an android tho, but no worries i will work on this

[2022-08-20 16:33] KendallDoesCoding commented on #114
oh sorry, my bad.

On Sat, 20 Aug 2022 at 21:32, Dunsin ***@***.***> wrote:

[2022-08-22 12:09] Dun-sin opened #115 "[DOCS] use JSdoc to generate documentation"
### Description

There are already comments using the jsdoc syntax, generate the documentation

### Screenshots

_No response_

[2022-08-22 12:31] #105 closed

[2022-08-22 12:32] Dun-sin commented on #110
:tada: This issue has been resolved in version 1.12.3 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.12.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-22 12:32] Dun-sin commented on #105
:tada: This issue has been resolved in version 1.12.3 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.12.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-25 06:20] SRADHA-SURESH12 commented on #112
Hey Dunsin, can I work on this?

[2022-08-25 06:34] Dun-sin commented on #112
sure go ahead

[2022-08-25 15:07] Nafisa-Huda opened #117 "[FEATURE] Custom Text Shadow Generator"
### Description

In issue #5 you asked for a new generator idea.
Can I build a custom text shadow generator? Similar to this: https://cssgenerator.org/text-shadow-css-generator.html

### Screenshots

_No response_

[2022-08-25 15:08] Dun-sin commented on #117
Wow, you just created your first issue on this project, that's so cool. Make sure to wait till you are allowed to work on this before you do and when you are allowed to, don't forget to mention this issue in your pull request [Automated]

[2022-08-25 17:14] Dun-sin commented on #117
I don't see why not. Go for it. Thanks for contributing

[2022-08-26 13:06] ChinmayMhatre commented on #115
I could work on this.

[2022-08-26 13:54] ChinmayMhatre commented on #115
I think linting isn't proper in the codebase. When I run the jsdoc command it tells to put semi colons

[2022-08-26 17:35] Dun-sin commented on #115
na, i really don't think it's that, hopefully

[2022-08-26 18:40] ChinmayMhatre commented on #115
Here is what I did.
- Added jsdoc as a dev dependency.
- Added a config file for it
[code]
- Added a script to run jsdoc with this config
- Run the script and got this error.
![image](https://user-images.githubusercontent.com/51131670/186970690-93d8465d-f8cb-4642-85d8-b9bed5d1ff81.png)

Maybe I am doing something wrong could you take a look?

[2022-08-26 18:42] ChinmayMhatre commented on #115
The lint throws these errors
![image](https://user-images.githubusercontent.com/51131670/186970919-ea9146b9-c469-40fc-a7f7-3a5db7674de1.png)

[2022-08-27 06:53] Dun-sin commented on #115
I really don't know, I haven't really generated the docs before

[2022-08-27 16:56] Dun-sin commented on #67
@gambhirsharma are you still working on this?

[2022-08-29 01:30] gambhirsharma commented on #67
Sorry, Dunsin I was busy with school stuff and my exam are also near. I think I will not be able to complete this.

So, you can assign someone else for this task. 😅

[2022-08-29 04:19] ChinmayMhatre commented on #115
Have you executed your lint command before?

[2022-08-29 04:41] hasnainmakada-99 commented on #2
Hey @Dun-sin I would like to work on this issue, Can you please assign it to me ?

[2022-08-29 04:47] Dun-sin commented on #115
I don't remember😂

[2022-08-29 04:48] Dun-sin commented on #2
If you have an improvement to it then sure

[2022-08-29 05:00] ChinmayMhatre commented on #115
Okay! I am unable to pin point the error. I think it will be better if someone else took over. Thanks!

[2022-08-29 05:01] hasnainmakada-99 commented on #2
Let me check it, And I'll tell you to assign it

[2022-08-29 07:28] Dun-sin commented on #115
Alright❤️

[2022-08-29 18:17] dsdeepak17 commented on #73
Hi, I would like to work on this. Can you assign it to me @Dun-sin

[2022-08-29 18:34] Dun-sin commented on #73
sure

[2022-08-30 11:13] Dun-sin commented on #112
@SRADHA-SURESH12 update?

[2022-08-30 11:14] Dun-sin commented on #111
i think a gif would be better btw.

also any update?

[2022-08-30 11:15] #97 closed

[2022-09-03 08:31] Dun-sin opened #120 "[OTHER] change hosting for backend"
### What would you like to share?

Heroku is no longer free and it's about time to change the hosting platform to either fly.io or railway.app

### Additional information

_No response_

[2022-09-03 08:31] Dun-sin commented on #120
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-09 10:04] Onyelaudochukwuka opened #121 "[FEATURE] Stop Animation"
### Description

## Animations Should have stop button
## The only way to stop an applied annimation right now is refreshing the page.

### Screenshots

_No response_

[2022-09-09 10:07] Onyelaudochukwuka opened #122 "[FEATURE] Add a transition for modals"
### Description

## All modals pop up suddenly
It will be more soothing if the modals have a gentle transition before pop-up

### Screenshots

_No response_

[2022-09-09 10:07] Dun-sin commented on #122
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-11 08:05] alialaba commented on #98
Hey gambhirsharma.
Do you want to make the figma only?

[2022-09-12 09:18] Dun-sin commented on #121
Do u want to work on it?

[2022-09-12 09:23] Onyelaudochukwuka commented on #121
Yes i'll love to

[2022-09-12 09:26] Dun-sin opened #123 "[FEATURE] Better UI Design"
### Description

The latest design is definitely not good, try to make it way better

**Send a Figma link if you want to try it out.**

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/189619571-83816367-f91a-43a9-9fe9-92436f3945c2.png)

[2022-09-12 09:26] Dun-sin commented on #123
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-12 09:28] Dun-sin commented on #68
@slim-codes hi any updates?

[2022-09-12 09:29] Dun-sin commented on #73
@dsdeepak17 hi any update?

[2022-09-12 09:32] Dun-sin commented on #121
alright thanks

[2022-09-12 09:38] Onyelaudochukwuka commented on #121
you're welcome

[2022-09-12 10:03] Onyelaudochukwuka commented on #123
I'll love to take this on

[2022-09-12 10:04] Onyelaudochukwuka commented on #123
the ux still needs a little work on the end of the modal pop-up

[2022-09-12 10:19] #121 closed

[2022-09-12 10:20] Dun-sin commented on #121
:tada: This issue has been resolved in version 1.13.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.13.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-12 10:20] Dun-sin commented on #123
give it a try

[2022-09-12 10:24] Onyelaudochukwuka commented on #123
ok 💪🏼

[2022-09-12 14:07] slim-codes commented on #68
Yeah! Great timing
I completed the feature yesterday. I will make a PR by the end of day.
Just making sure everything works

[2022-09-13 12:40] Onyelaudochukwuka commented on #123
you can check out the progress on the design so far
[FIgma file](https://www.figma.com/file/DKqfT7LYiESQ44saIPQUpb/Untitled?node-id=0%3A1)

what do you think about the layout ?

[2022-09-13 12:41] Onyelaudochukwuka commented on #123
https://www.figma.com/file/DKqfT7LYiESQ44saIPQUpb/Untitled?node-id=0%3A1

[2022-09-13 21:27] KlausMikhaelson commented on #111
Hey @Dun-sin if I am not wrong you mean we just have to create a gif of any project from the website and add to the readme right ? if it hasn't been completed than please assign it to me would love to contribute in it !

[2022-09-14 03:15] Dun-sin commented on #111
I mean, screen record the website and convert it to a gif, then add it to the readme.

Just a quick video opening and closing each modals.

Thanks for wanting to work on it

[2022-09-14 06:27] KlausMikhaelson commented on #111
Hey @Dun-sin I have made a pr can you please review it and lmk if I should add the same with all the features that are there on the web app

[2022-09-14 13:49] Onyelaudochukwuka commented on #123
No feedback ☹️

[2022-09-14 13:50] Onyelaudochukwuka commented on #123
No feedback ☹️

[2022-09-15 03:57] Dun-sin commented on #123
Join the discord community, we'll be discussing about it soon

[2022-09-15 15:51] #111 closed

[2022-09-16 04:17] dsdeepak17 commented on #73
Hi @Dun-sin , I am done with the resolution of the current issue. Raising the PR in some time.

[2022-09-16 08:29] Dun-sin commented on #111
:tada: This issue has been resolved in version 1.14.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-16 08:34] #73 closed

[2022-09-16 08:35] Dun-sin commented on #73
:tada: This issue has been resolved in version 1.14.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/trick-generator/releases/tag/v1.14.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-16 18:26] #123 closed

[2022-09-16 18:31] Dun-sin opened #128 "[FEATURE] Change Color Scheme"
### Description

Doing a little rebranding and hence the colors are changing, change the primary & secondary colors to this👇🏾
- **primary color**: #081121
- **secondary color**: #0E213C

### Screenshots

_No response_

[2022-09-16 18:31] Dun-sin commented on #128
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-16 18:34] Sylar-codex opened #129 "[FEATURE] Push up notifications"
### Description

What do you think about a push up notification for users? Where users can get notified of new features and new versions of the app. Like the one youtube uses

### Screenshots

_No response_

[2022-09-16 18:34] Dun-sin commented on #129
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-16 18:36] Dun-sin commented on #129
Well, that's what the watch function is for github.
it gets sent to your mail

[2022-09-16 18:40] Sylar-codex commented on #129
Well, I was just thinking. And what of users who use other version control and not github. Does it get sent to their mail as well?

[2022-09-16 18:41] Dun-sin commented on #129
I don't know, I don't see the use for push up notification. Most people use GitHub anyway

[2022-09-16 18:43] Sylar-codex commented on #129
Oh alright, I’ll just close the issue then

[2022-09-16 18:43] #129 closed

[2022-09-16 23:05] GabrielAbubakar commented on #128
Hi Dun-sin,
open source noob here...
Can I work on this?

[2022-09-17 03:29] Dun-sin commented on #128
Sure, go ahead, hopefully you read the needed file if not do read it💪🏽

[2022-09-17 10:25] hasnainmakada-99 commented on #112
Hey, @Dun-sin is this issue resolved?

[2022-09-17 10:27] hasnainmakada-99 commented on #67
@Dun-sin  I would like to try out this one, Will you please assign it to me?

[2022-09-17 10:54] Dun-sin commented on #112
nope

[2022-09-17 11:08] hasnainmakada-99 commented on #112
So should I work on this one ?

[2022-09-17 11:14] GabrielAbubakar commented on #128
Yes, If you meant the contribution guidelines, I have read that
Will get started on the issue.

[2022-09-17 13:03] Dun-sin commented on #128
amazing thanks

[2022-09-17 13:03] Dun-sin commented on #112
sure @hasnainmakada-99

[2022-09-17 14:11] GabrielAbubakar commented on #128
sorry i just have a clarification
the guideline said not to commit package.json and lock.json
should I include both files in gitignore or would avoiding any changes to both of them suffice?

[2022-09-17 16:16] Dun-sin commented on #128
You can use `git add style.css`

[2022-09-17 16:35] GabrielAbubakar commented on #128
ok..
thank you

[2022-09-17 19:07] #128 closed

[2022-09-17 19:08] Dun-sin commented on #128
:tada: This issue has been resolved in version 1.16.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v1.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-18 17:26] Dun-sin commented on #122
Will close this issue since this change isn't needed anymore

[2022-09-18 17:26] #122 closed

[2022-09-18 17:27] #115 closed

[2022-09-18 17:28] Dun-sin commented on #23
Going to close this issue since it's no longer needed to fix this

[2022-09-18 17:28] #23 closed

[2022-09-18 17:29] #4 closed

[2022-09-18 17:29] #2 closed

[2022-09-18 17:54] Dun-sin opened #133 "[BUG] make it mobile responsive"
### Description

It doesn't look so bad on mobile, but it could be better, on mobile the sidebar should closeable.

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/190921517-bdaa3a14-f0eb-4533-a031-590f2fadeda8.png)

[2022-09-18 17:54] Dun-sin commented on #133
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-18 18:26] Dun-sin opened #134 "[FEATURE] Live update to gradient preview"
### Description

In the gradient generators, there's this div in between the color pickers, it should have the gradient effect as a preview and should update when either of this 3 things are updated:
- First color value
- Second color Value
- Degree

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/190922425-7e36a56c-48a3-4dd1-9774-53c29a8115aa.png)

[2022-09-18 18:26] Dun-sin commented on #134
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-18 18:37] Dun-sin opened #135 "[OTHER] suggestions on what to do with the home page"
### What would you like to share?

When you first land on the website, it looks like this with no content on the right side until a generator is clicked, I feel something should be there. What do you think

![image](https://user-images.githubusercontent.com/78784850/190923053-18f5b5c4-cea6-47dd-b968-2ce42caa3621.png)

### Additional information

_No response_

[2022-09-18 18:37] Dun-sin commented on #135
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-19 07:44] Dun-sin commented on #67
Sur

[2022-09-19 15:47] Dun-sin commented on #98
you can do it if you want

[2022-09-19 15:48] Dun-sin commented on #98
you can do it if you want

[2022-09-19 17:01] Dun-sin opened #138 "[FEATURE] Box shadow generator"
### Description

**Related #5**

The generator should get the following inputs from the user:
- color
- blur
- spread of the shadow

you can add others that might make the generator function better

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/191072059-5ab8ab42-6e74-42aa-b991-d97184081fc2.png)

[2022-09-19 17:02] Dun-sin commented on #138
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-19 17:02] Nakamcode commented on #135
I think you can give a brief description of the tool by making reference to the sidebar. example "All in one tool for Developers, Generate Gradient Border, Background and Animation with OneClick. Navigate the sidebar for all the tools" 🤦‍♂️ my suggestion.
![captures_chrome-capture-2022-8-19](https://user-images.githubusercontent.com/89482825/191072776-664688d9-89d4-4f80-ae7d-1e896a27b8f6.png)

[2022-09-19 17:05] Nakamcode commented on #135
Make sure to use bold text like the above

[2022-09-19 17:38] Nakamcode opened #141 "[BUG] Gradient card preview not working"
### Description

The gradient preview card is not working
![captures_chrome-capture-2022-8-19 (2)](https://user-images.githubusercontent.com/89482825/191079268-f4214a82-a01f-4420-b7c5-2f3515687389.png)

### Screenshots

_No response_

[2022-09-19 17:38] Dun-sin commented on #98
checkout the idea in #140

[2022-09-19 17:38] Dun-sin commented on #141
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-19 17:40] Dun-sin commented on #141
be specific, which of them

[2022-09-19 17:40] #112 closed

[2022-09-19 17:42] Nakamcode commented on #141
Gradient Text

[2022-09-19 17:44] Dun-sin commented on #141
if there's no text nothing will show up, im guessing you didn't add any text

[2022-09-19 18:07] #141 closed

[2022-09-20 04:11] Dun-sin opened #142 "[OTHER] add prettier to GitHub actions"
### What would you like to share?

**Problem:** We have prettier, but it has to be run on NPM and can't be done every time because people can forget to run it
**solution:** Using a GitHub action to automatically run prettier every time a commit is made

### Additional information

_No response_

[2022-09-20 04:11] Dun-sin commented on #142
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-20 06:27] #133 closed

[2022-09-20 06:28] Dun-sin commented on #133
:tada: This issue has been resolved in version 1.19.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v1.19.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-20 08:24] artimanputra commented on #138
Hey, @Dun-sin I want to work on this issue can I go ahead?

[2022-09-20 09:40] Dun-sin commented on #138
Definitely

[2022-09-20 11:17] Dun-sin opened #144 "[DOCS] change discord link"
### Description

Change the community discord link to this 👉🏾 https://discord.gg/ufcysW9q23

find it [here](https://github.com/Dun-sin/Code-Magic#-community)

### Screenshots

_No response_

[2022-09-20 11:18] Dun-sin commented on #144
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-20 12:09] Nakamcode opened #145 "[FEATURE] <Open Graph>"
### Description

An open graph image or OG image is the image that appears when you post a link to a web page or post on your social media page. here's an example of OG
![open graph](https://user-images.githubusercontent.com/89482825/191253624-1bd0b11e-b44b-4059-ba9d-092d74deb9ee.jpg)

### Screenshots

_No response_

[2022-09-20 12:09] Dun-sin commented on #145
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-20 12:11] Dun-sin commented on #145
your issue is unclear

[2022-09-20 12:15] Nakamcode commented on #145
There's no open graph when the link is shared on social media(Twitter), adding OG is a good way to increase the click rate. I have shared an example of OG above.

[2022-09-20 12:17] Dun-sin commented on #145
okay

[2022-09-20 12:18] Nakamcode commented on #145
Can I suggest the OG image?

[2022-09-20 12:19] Dun-sin commented on #145
sure

[2022-09-20 12:46] Nakamcode commented on #145
Here's a quick one! What do you think ?
![Group 7](https://user-images.githubusercontent.com/89482825/191261300-1ace3ddb-8b85-4230-bd0e-d9654b6964bb.png)

[2022-09-20 12:51] Dun-sin commented on #145
Nice, I like it🔥

[2022-09-20 12:54] Nakamcode commented on #145
I need to make a PR to implement it! do you like the description I gave on the homepage?

[2022-09-20 12:58] Dun-sin commented on #145
yeah, it's great

[2022-09-20 12:59] Nakamcode commented on #145
Sure

[2022-09-20 13:06] Nakamcode commented on #145
You haven't assigned me on this?

[2022-09-20 13:34] Nakamcode commented on #145
Thanks

[2022-09-20 13:35] Nakamcode commented on #145
How do I fill out the PR template? where can I find it?

[2022-09-20 13:37] Nakamcode commented on #145
Do I need to fill out the PR template?

[2022-09-20 13:47] Nakamcode commented on #145
I guess I have read it more than twice but I can't find it.

[2022-09-20 14:00] Nakamcode commented on #145
alright

[2022-09-20 14:16] Nakamcode commented on #145
I'm done 😁

[2022-09-20 14:16] #145 closed

[2022-09-20 15:24] adetoye-dev commented on #134
Can I work on this?

[2022-09-20 15:41] Dun-sin commented on #134
Sure🔥

[2022-09-21 08:36] #134 closed

[2022-09-21 08:37] Dun-sin commented on #145
:tada: This issue has been resolved in version 1.21.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v1.21.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-21 08:37] Dun-sin commented on #134
:tada: This issue has been resolved in version 1.21.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v1.21.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-21 11:00] Njong392 commented on #144
My first time contributing to your repo :see_no_evil: Can I grab this one?

[2022-09-21 11:08] KendallDoesCoding commented on #144
Can I be assigned to this? @Dun-sin

[2022-09-21 11:10] Dun-sin commented on #144
you got it

[2022-09-21 11:10] Dun-sin commented on #144
next time buddy

[2022-09-21 12:34] KendallDoesCoding commented on #144
sure!

[2022-09-21 13:36] #144 closed

[2022-09-21 16:38] ykdojo opened #151 "[FEATURE] Disable the *Get Results* button when no image is uploaded"
### Description

When no image is uploaded for Pic-Text, the **Get Results** button should be disabled.

### Screenshots

_No response_

[2022-09-21 16:38] Dun-sin commented on #151
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-21 16:40] ykdojo opened #152 "[BUG] Image is cropped in Pic-Text"
### Description

Original pic:

![image](https://user-images.githubusercontent.com/1811651/191562434-44317077-1788-4b42-90ce-e42c621518de.png)

Result:

![image](https://user-images.githubusercontent.com/1811651/191562550-cfeb6b6d-eb15-4864-be35-43b6a03dd9c6.png)

[2022-09-21 16:41] Dun-sin commented on #152
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-21 16:43] Dun-sin commented on #151
Nice, i was waiting for someone to notice this and create an issue

[2022-09-21 20:32] Preet-Sojitra opened #153 "[FEATURE] Preview Feature"
### Description

Is there any way to add preview option before user clicks on the `get result` button.
What I mean is if I want to generate gradient text and I am not sure about the colors so I am just trying different different colors, so if I can see how the final text with gradient will look on the same page, before clicking on `get result`.
Currently what is happening is that, for trying diffe

[2022-09-21 20:32] Dun-sin commented on #153
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-21 21:00] Dun-sin commented on #153
There's already a preview for colors and gradient

[2022-09-22 16:51] KlausMikhaelson opened #154 "[BUG] The homepage is completely blank for the mobile users so I"
### Description

the homescreen for mobile users is completely blank they can only see a small button there but ig that's not a good first impression for users

### Screenshots

<img width="250" alt="image" src="https://user-images.githubusercontent.com/100528412/191806244-ccabf2ed-2787-45c7-becf-d6bd0785fb31.png">

[2022-09-22 16:51] Dun-sin commented on #154
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-22 18:05] Dun-sin commented on #154
i know, working on it already here 👉🏾 #140

[2022-09-22 18:05] #154 closed

[2022-09-22 19:43] #68 closed

[2022-09-22 19:44] Dun-sin commented on #144
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-22 19:44] Dun-sin commented on #68
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-23 03:22] Dun-sin opened #155 "[FEATURE] add home page"
### Description

👇🏽This is the design for the home page, since we have none.

The white part should be a video of how to use the website, example will be the gif in the Readme

### Screenshots

![191252524-20d59a17-62cf-4895-a1ad-04db3b47f8f2](https://user-images.githubusercontent.com/78784850/191886273-581e5b6e-5d54-4d3e-a3f2-ef3c6a837418.png)

[2022-09-23 03:23] Dun-sin commented on #155
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-23 03:30] Dun-sin commented on #98
Issue has been moved to #155

[2022-09-23 03:30] #98 closed

[2022-09-23 03:33] Dun-sin opened #156 "[BUG] text not responsive"
### Description

**Problem:** In gradient text generator, the text is too big on mobile screens so it doesn't look good in it's container.

**Solution**: make the text big or small based on the width of the container div with the Calc function and variables.

### Screenshots

![IMG_20220923_042835](https://user-images.githubusercontent.com/78784850/191887207-e4af20db-6ce6-4bed-aa4f-ce261cc17c5e.jp

[2022-09-23 03:34] Dun-sin commented on #156
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-23 03:34] Dun-sin commented on #67
Hi, @hasnainmakada-99 any update on this?

[2022-09-23 04:24] hasnainmakada-99 commented on #67
Yes @Dun-sin I'll complete it by this weeks end

[2022-09-23 13:32] hasnainmakada-99 commented on #67
Hey @Dun-sin   I've tried to run the project in my system as per the readme, but I am not able to run it properly on my system, Is there anything you can do?

[2022-09-23 13:35] Dun-sin commented on #67
I can't help if you don't tell me exactly what's wrong

[2022-09-23 13:56] hasnainmakada-99 commented on #67
![image](https://user-images.githubusercontent.com/82728823/191976960-2e8c9378-e6e1-44b0-a1b9-01ac56a00938.png)

Hey @Dun-sin I'm getting this error

[2022-09-23 14:26] Dun-sin commented on #67
weird, did you try installing the package again

[2022-09-23 14:44] hasnainmakada-99 commented on #67
Yes I've tried it 2 times installing again and again

[2022-09-23 16:10] Dun-sin commented on #67
maybe delete the repo and clone it back

[2022-09-23 16:23] hasnainmakada-99 commented on #67
Yes I'll try again @Dun-sin

[2022-09-23 18:48] dsdeepak17 commented on #156
Hey @Dun-sin, Can you please assign it to me?

[2022-09-23 19:02] dsdeepak17 commented on #142
Hi @Dun-sin , I would suggest adding husky(pre-commit) hook to apply all the prettier changes to the staged files. If it works. Please, assign it to me.

[2022-09-23 19:12] Dun-sin commented on #142
@dsdeepak17 give it a try

[2022-09-24 09:56] KendallDoesCoding commented on #111
Hey sorry,

I forgot about this. Glad @KlausMikhaelson could help on this one.

[2022-09-24 11:15] JC-Coder commented on #151
I want to fix this. kindly assign to me

[2022-09-24 11:41] ctoffanin commented on #155
Hi Dunsin, can I be assigned to this?

[2022-09-24 12:02] Dun-sin commented on #151
Sure

[2022-09-24 12:03] Dun-sin commented on #155
You can do it now, but I will merge it when Hacktoberfest starts🙌🏽

[2022-09-24 14:06] g-coutos commented on #153
Hey @Dun-sin, can i work on this feature?

[2022-09-24 15:52] #153 closed

[2022-09-24 16:42] bonysureliya opened #159 "Add Favicon"
### Description

I think we should add a favicon that displays the logo beside our site name in tabs it would be good

### Screenshots

_No response_

[2022-09-24 16:42] Dun-sin commented on #159
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-25 03:39] Dun-sin commented on #159
Wanna do it? I think they're some generators out there for Favicon

[2022-09-25 04:57] bonysureliya commented on #159
I can help adding favicons

[2022-09-25 07:47] Dun-sin commented on #159
Alright, thank you

[2022-09-25 10:44] ctoffanin opened #160 "[BUG] placeholder not visible"
### Description

In the text area input of the Gradient Text generator, the placeholder text is almost invisible. The colour is almost the same as the background.
The suggestion is either to use a more visible colour (something in between the background [#081121] and the text colour [#edf2f4]) or to remove the placeholder.

### Screenshots

![Screenshot 2022-09-25 at 12 42 06](https://user-images.

[2022-09-25 10:44] Dun-sin commented on #160
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-25 12:02] Dun-sin commented on #160
Do you want to work on it?

[2022-09-25 13:02] ctoffanin commented on #160
Yes, sure.
What do you prefer? To change its colour or to remove it?

[2022-09-25 14:32] Dun-sin commented on #160
Change the color and thanks

[2022-09-26 07:53] OkolieOKS234 commented on #5
[FEATURE] Flex Box Generator

[2022-09-26 07:53] OkolieOKS234 commented on #5
[FEATURE] Grid Box Generator

[2022-09-26 07:54] OkolieOKS234 commented on #5
[FEATURE] Opacity and Opaque

[2022-09-26 09:30] Dun-sin commented on #5
@OkolieOKS234 please read the instructions in the issue and don't spam the comments

[2022-09-26 09:31] #160 closed

[2022-09-26 14:00] hasnainmakada-99 commented on #67
hey @Dun-sin can you tell me in which file the colour picker need to be changed, I've ran up the project in gitpod and its running perfectly

[2022-09-26 14:08] Amad3eu opened #162 "[OTHER] Element are deprecated"
### What would you like to share?

**Problem**: outputNode.style.webkitBackgroundClip = 'text'; this is deprecated!

### Additional information

This problem is not technically ruinous but it is an adept to clean up the code

I'm glad if it helps!

[2022-09-26 14:09] Dun-sin commented on #162
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-26 14:44] Dun-sin opened #163 "[DOCS]: remove unnecessary comment"
This part of the code is not needed, delete it
click on this 👇🏾
https://github.com/Dun-sin/Code-Magic/blob/604333f641e3f4f6f5b91cf9194f368f77884397/src/main.ts#L8

[2022-09-26 14:44] Dun-sin commented on #163
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-26 14:46] Dun-sin commented on #67
the color picker is originally in index.html

[2022-09-26 14:52] Dun-sin commented on #162
Hi thanks for pointing this out, but it doesn't look like it here [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip)

[2022-09-26 15:47] bonysureliya commented on #159
I will be sharing some logos in sometime can you help me fix the logo for the icon

[2022-09-26 15:51] hasnainmakada-99 commented on #67
Okay @Dun-sin thank you for telling me

[2022-09-26 17:18] debanjo31 opened #165 "Page Not Loading [BUG] <description>"
### Description

On an Android device, the page doesn't load instantly, like as if there's a setTImeout() for that

### Screenshots

_No response_

[2022-09-26 17:18] Dun-sin commented on #165
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-26 17:23] Dun-sin commented on #165
it loads, there just isn't a home page

[2022-09-26 17:42] Vishrut19 commented on #155
Hey @ctoffanin can I help you with this contribution ?

[2022-09-26 17:46] ctoffanin commented on #155
If @Dun-sin is ok with it, it can be assigned to you. I don't mind.

[2022-09-26 17:55] Dun-sin commented on #155
sure @Vishrut19

[2022-09-27 03:31] #165 closed

[2022-09-27 03:33] Dun-sin opened #166 "[OTHER] Add Favicon"
### What would you like to share?

This project doesn't have a favicon.

here's the link to the image download it and add it

https://user-images.githubusercontent.com/91757486/192339368-a4c8bb94-e66e-41a3-b9b9-febdbe9a8a1a.png

### Additional information

_No response_

[2022-09-27 03:34] Dun-sin commented on #166
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-27 03:54] Harsh97x commented on #166
I think I can do this one. Can you assign me?

[2022-09-27 03:55] RohitRajvaidya5 commented on #166
Hey, I want to contribute to this. But I don't know typescript, but I think don't need typescript knowledge to add favicon and if yes then which icon you want as favicon?

[2022-09-27 03:56] RohitRajvaidya5 commented on #163
I want to contribute; can you assign me for this?

[2022-09-27 04:12] SaranshBaniyal commented on #166
@Dun-sin I would like to contribute, can you please assign this to me?

[2022-09-27 04:22] ctoffanin commented on #152
@Dun-sin can I be assigned to this?

[2022-09-27 04:31] Dun-sin commented on #163
Sure

[2022-09-27 04:32] Dun-sin commented on #166
Sure @Harsh97x

[2022-09-27 04:32] Dun-sin commented on #152
@ctoffanin of cuz

[2022-09-27 11:37] jeoffreyduke commented on #156
I could work on this

[2022-09-27 11:39] Dun-sin commented on #156
sure, i will assign it to you

[2022-09-27 12:10] Vishrut19 commented on #155
Hey @Dun-sin  I was trying to work on this task that is assigned to me but I am a bit confused as what has to be done in this issue ? Can you please elaborate a bit about it to me

[2022-09-27 12:14] Dun-sin commented on #155
![image](https://user-images.githubusercontent.com/78784850/192523322-aee83777-f82c-4b7c-8e27-f252e3980553.png)

When you open the website, it shows nothing but the side menu
Use the design above to add text and a quick video recording of the website

[2022-09-27 12:51] hasnainmakada-99 commented on #67
Hey @Dun-sin  I've checked out the color picker It seems that you already made it updated
![image](https://user-images.githubusercontent.com/82728823/192531097-96b08e64-bcfb-496a-85e8-d7c325536e80.png)

[2022-09-27 12:56] Dun-sin commented on #67
Did i?

[2022-09-27 12:57] Dun-sin commented on #67
@hasnainmakada-99 it's made but the browsers default.

You should use a package instead.

If you can't work on it let me know

[2022-09-27 12:58] hasnainmakada-99 commented on #67
Sure @Dun-sin

[2022-09-27 13:10] hasnainmakada-99 commented on #67
Hey @Dun-sin in which .ts file you are getting all the colors ?

[2022-09-27 13:11] Dun-sin commented on #67
Yes, getting the color values not the color element itself

[2022-09-27 13:14] hasnainmakada-99 commented on #67
I didn't get it !

[2022-09-27 13:15] hasnainmakada-99 commented on #67
@Dun-sin It will be better if we transfer this issue to somebody who knows, TypeScript good enough

[2022-09-27 13:15] hasnainmakada-99 commented on #67
As it is a little bit complex for me to solve

[2022-09-27 13:34] Dun-sin commented on #67
alright

[2022-09-27 14:19] pushkaraj2007 opened #168 "[BUG] Website looks odd on small screen devices."
### Description

**Problem**: The site looks fine on medium to large screen devices, but looks odd on small screen devices. Which becomes irritating for users who are using it on mobile.

**Solution**: We can fix it by adding some media queries and adjusting width and height of some element.

I want to work on this, can you assign it to me?

### Screenshots

![IMG_20220927_194027](https://user-ima

[2022-09-27 14:19] Dun-sin commented on #168
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-27 14:21] Dun-sin commented on #168
Sure

[2022-09-27 14:22] pushkaraj2007 commented on #168
BTW, would you mind if I create PR regarding this on 1st october?

[2022-09-27 14:43] ctoffanin commented on #152
@Dun-sin, I just checked locally and the demo. It does not look cropped to me.
![Screenshot 2022-09-27 at 16 43 28](https://user-images.githubusercontent.com/1682188/192558147-93801b4e-d174-4d85-b102-a46dd24931d1.png)

[2022-09-27 14:50] pushkaraj2007 commented on #168
Oh, actually it's my first time for participating in hacktoberfest.

So didn't knew about that, thanks for telling.

Will create the PR soon.

[2022-09-27 14:52] ctoffanin commented on #162
TS is marking it as deprecated indeed:

[code]

[2022-09-27 14:57] Dun-sin commented on #152
actually it is, depending on your VW

[2022-09-27 14:58] Dun-sin commented on #152
if you notice, in your local machine it shows completely but not fill the whole container

[2022-09-27 14:59] Dun-sin commented on #168
it's also my first

[2022-09-27 15:05] pushkaraj2007 commented on #168
That's great!

[2022-09-27 15:05] ctoffanin commented on #152
So you want me to resize the container based on the picture size?

[2022-09-27 15:31] Dun-sin commented on #152
I think that's the best option to fix it, or if you have a better option

[2022-09-27 20:27] Amad3eu commented on #162
Really, it's not a problem then, rest assured

[2022-09-27 20:27] #162 closed

[2022-09-28 16:15] Vishrut19 commented on #155
okay got it @Dun-sin I will do it and yes Just wanted to ask you that is there a video recording available with you for reference.

[2022-09-28 16:31] Dun-sin commented on #155
Nope, you can make yours or use the gif in the Readme file

[2022-09-29 03:50] dhrumishah commented on #163
Can I work on this?

[2022-09-29 03:57] dhrumishah commented on #155
Can I also help in this contribution? @Vishrut19 , @Dun-sin, @ctoffanin

[2022-09-29 07:47] Dun-sin commented on #163
This is already done, my bad I will change the labels

[2022-09-29 07:50] Dun-sin commented on #155
depends on if @Vishrut19 needs help

[2022-09-29 07:53] #151 closed

[2022-09-29 07:54] Dun-sin commented on #138
@artimanputra any updates

[2022-09-29 08:00] dhrumishah commented on #155
@Vishrut19 please let me know if you need help :)

[2022-09-29 08:10] Vishrut19 commented on #155
Yes you can help me @dhrumishah

[2022-09-29 08:29] dhrumishah commented on #155
Not much but yes I have contributed. Can you let me know how can I help? @Vishrut19

[2022-09-29 08:30] Vishrut19 commented on #155
Can we plan a time and connect on discord for the same (if you are from india)? @dhrumishah

[2022-09-29 08:31] dhrumishah commented on #155
Yeah sure :)

Here's my ID: Dhrumi | 0xdee#0946

[2022-09-29 11:07] ShivaRapolu01 commented on #138
Is it part of hacktoberfest? I am  interested to contribute to this issue

[2022-09-29 11:13] ShivaRapolu01 commented on #117
Is this issue part of hacktoberfest? If yes I am ready to contribute to this issue too

[2022-09-29 16:31] ctoffanin commented on #67
@Dun-sin can I be assigned to this?

[2022-09-30 07:12] pythoniclaver commented on #168
I'm not sure if this issue have been resolved but can you assign me to this?

[2022-09-30 07:29] pythoniclaver opened #171 "[BUG] Button become inactive after first click on "Get Result""
### Description

Firstly, I will like to confess my love for this application. It is really amazing.

So I noticed that when the user select their desired styles and then clicks on the button, the result button becomes disabled afterwards and the user won't be able to generate another code from that particular section until they refresh the page. I believe this is something worth pointing out. Thi

[2022-09-30 07:29] Dun-sin commented on #171
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-30 08:30] Dun-sin commented on #171
Do you want to work on it?

[2022-09-30 09:01] Elijah-trillionz commented on #171
Just noticed the issue too.
Can I work on this @Dun-sin

[2022-09-30 09:02] Dun-sin commented on #171
If @pythoniclaver doesn't want to

[2022-09-30 09:07] Elijah-trillionz commented on #171
Alright.
Let me know.

I kinda have a feature request, can I make an issue on that too?

[2022-09-30 09:09] Dun-sin commented on #171
feel free

[2022-09-30 09:15] Elijah-trillionz opened #172 "[FEATURE] Display degree for gradients"
### Description

The range input for the gradients does not display the current degree of the range.

It wouldn't hurt to see the current degree of the gradient.

### Screenshots

![code-magic](https://user-images.githubusercontent.com/60356516/193236995-94258dc0-a4af-4dd2-8c21-ada9af2fb32b.png)

[2022-09-30 09:16] Dun-sin commented on #172
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-30 09:17] Dun-sin commented on #172
Great, you noticed it. Do you want to work on it?

[2022-09-30 09:18] Elijah-trillionz commented on #172
Yes

[2022-09-30 09:22] Dun-sin commented on #172
alright then

[2022-09-30 09:49] pythoniclaver commented on #171
I will definitely be working on that!

[2022-09-30 09:50] Dun-sin commented on #171
alright, i will assign it to you

[2022-09-30 12:12] Vishrut19 commented on #155
Hey @Dun-sin I am done with the text thing. Can you please see if it is okay ?
<img width="1470" alt="Text" src="https://user-images.githubusercontent.com/53470896/193266938-c6e77533-5402-4ccf-8454-99a3a58239e2.png">

[2022-09-30 12:54] Dun-sin commented on #155
@Vishrut19 looks good

[2022-09-30 13:11] Vishrut19 commented on #155
okay so tomorrow can you merge my PR ?

[2022-09-30 13:22] Dun-sin commented on #155
If you are done

[2022-09-30 13:41] dhrumishah commented on #155
I will be working on 'inserting gif' to the website @Dun-sin

[2022-09-30 13:44] Dun-sin commented on #155
Well you can add it to he's fork version and he can create a pull request, should have both your names on it. Not sure tho.

Otherwise he has to do everything

[2022-09-30 13:50] pythoniclaver commented on #171
Hey @Dun-sin I was able to identify the cause to the bug but my fixes have lead to another bug. I don't think I can help I'm sorry, kindly assign another person. Thank you

[2022-09-30 13:56] Elijah-trillionz commented on #171
Could you share the issues you discovered?
Let's see

[2022-09-30 14:02] Vishrut19 commented on #155
okay @Dun-sin lets connect on discord @dhrumishah  so that we can decide how we need to move forward with the project

[2022-09-30 14:03] Dun-sin commented on #155
There's the community discord server in the readme

[2022-09-30 14:06] Vishrut19 commented on #155
Yes @Dun-sin I am connected in that discord server

[2022-09-30 14:09] pythoniclaver commented on #171
in main.ts > line 220

generatorsFunction was called and the keyword "attribute" was passed into it which is a string type and hence Type 'null' is not assignable to type 'string' (the generatorsFunction requires 'string | null' ) .

animation.ts > line 65 is returning an error after the first click.

This should help you.

[2022-09-30 14:13] pythoniclaver opened #174 "[BUG] Let keyword error"
### Description

The let keyword was used to create variables that wasn't reassigned. Can I refactor the code and use 'const' instead?

### Screenshots

_No response_

[2022-09-30 14:16] Elijah-trillionz commented on #171
ok then, @Dun-sin you can assign it to me

[2022-09-30 14:16] pythoniclaver commented on #174
can you assign me to this?

[2022-09-30 14:21] Vishrut19 commented on #155
Hey @Dun-sin I am done with adding gif to the page. I am attaching the picture please have a look at it and let me know if it is okay then we can move forward.
<img width="1470" alt="Screenshot 2022-09-30 at 7 47 14 PM" src="https://user-images.githubusercontent.com/53470896/193290654-7b67056f-c16a-43a5-814b-eeb99649ca93.png">

[2022-09-30 14:21] clinton-lynx opened #175 "[FEATURE] <Change Pic-Text Label for smaller screen sizes>"
### Description

Thinking it is redundant to leave the Pic-Text Label as "Drag & drop your files or browse", maybe it could be 'Browse files' on smaller screen sizes.

### Screenshots

![Screenshot 2022-09-30 152032](https://user-images.githubusercontent.com/104448657/193290809-c49516f2-2af6-48fa-9e14-ab8f2fafd298.png)

[2022-09-30 14:22] Dun-sin commented on #175
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-30 14:22] clinton-lynx commented on #175
Sure, Dunsin

[2022-09-30 14:28] Dun-sin commented on #175
I use a library for this, I don't understand the issue here actually

[2022-09-30 14:29] Dun-sin commented on #155
Nice, maybe a border would be nice to differentiate the video from the original background

[2022-09-30 14:30] Dun-sin commented on #174
Sure

[2022-09-30 14:31] Dun-sin commented on #171
After you are down with your previous issue and someone else hasn't asked, then I will assign it to you💪🏽

[2022-09-30 14:55] Vishrut19 commented on #155
Hey @Dun-sin please have a look at it I have tried doing something.
<img width="1470" alt="Screenshot 2022-09-30 at 8 23 48 PM" src="https://user-images.githubusercontent.com/53470896/193297654-74c49783-f861-4877-b941-e7689ce306e1.png">

[2022-09-30 14:56] Dun-sin commented on #155
Good, but the space in between doesn't look good, I think it's too much

[2022-09-30 15:00] Vishrut19 commented on #155
Now @Dun-sin ! Sorry for disturbing you again and again since it is my first time thats why.
<img width="1470" alt="Screenshot 2022-09-30 at 8 29 32 PM" src="https://user-images.githubusercontent.com/53470896/193298750-b6a8310e-8ba7-4ac8-8579-ab2723aaa190.png">

[2022-09-30 15:01] Dun-sin commented on #155
No worries, it's okay now

[2022-09-30 15:04] Dun-sin commented on #155
Well you have to create a pull request

[2022-09-30 15:04] Vishrut19 commented on #155
okay but tomorrow right ? @Dun-sin

[2022-09-30 15:05] Dun-sin commented on #155
Your choice, it's my merge that matters

[2022-09-30 15:06] Vishrut19 commented on #155
okay so you will merge tomorrow ? @Dun-sin

[2022-09-30 15:08] Vishrut19 commented on #155
It means tomorrow @Dun-sin ?

[2022-09-30 15:39] Dun-sin commented on #171
Definitely, thanks for wanting to contribute @JC-Coder

[2022-09-30 17:37] Srinika99 commented on #155
hi, i wanted to ask apart from the description of landing page you mentioned, if one can work on generating a different , interactive landing page?

[2022-09-30 17:59] Dun-sin commented on #155
You can create it as a separate issue

[2022-09-30 19:41] #163 closed

[2022-09-30 19:43] #156 closed

[2022-09-30 19:43] Dun-sin commented on #163
:tada: This issue has been resolved in version 2.1.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-30 19:43] Dun-sin commented on #156
:tada: This issue has been resolved in version 2.1.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-30 19:44] #152 closed

[2022-09-30 19:49] #168 closed

[2022-09-30 19:50] Dun-sin commented on #152
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-30 19:50] Dun-sin commented on #168
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-30 20:33] Dun-sin commented on #174
Thanks for pointing this out🙌🏽

[2022-09-30 22:23] Johnnyteck opened #181 "[BUG] Fancier number input fields"
### Description

 how about you have a fancier well styled number input field rather than the generic default field style html offers. Just a suggestion.

### Screenshots

<a href="https://ibb.co/ZHS2Zj1"><img src="https://i.ibb.co/B4Gn1pK/IMG-20220930-232153.jpg" alt="IMG-20220930-232153" border="0"></a><a href="https://ibb.co/ZHS2Zj1">

[2022-09-30 22:23] Dun-sin commented on #181
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-09-30 22:25] Dun-sin commented on #181
Sure, do you want to work on it?

[2022-10-01 01:21] Yadvendra016 commented on #138
hey I complete this project can I make a pull request

[2022-10-01 01:36] pushkaraj2007 commented on #181
Hey @Dun-sin, can you please assign it to me?

[2022-10-01 01:39] pushkaraj2007 commented on #175
Maybe he wants to say that we can change text from 'drag & drop files' to only 'browse files', for small screen devices.

[2022-10-01 04:17] Dun-sin commented on #175
I see

[2022-10-01 05:54] Johnnyteck commented on #181
Yes you can assign me 🙂

[2022-10-01 05:57] Dun-sin commented on #174
This is already fixed, thanks for wanting to contribute tho

[2022-10-01 05:57] #174 closed

[2022-10-01 06:10] pushkaraj2007 opened #183 "[FEATURE] close navbar on clicking outside"
### Description

It will be a nice user experience if navbar gets closed when clicking outside, especially for small screen devices.

We can use click EventListenser for achieving this.

### Screenshots

![IMG_20221001_113942](https://user-images.githubusercontent.com/107422421/193395427-b482a97f-fc4c-4f2e-9153-1b8c2b92e7a7.jpg)

[2022-10-01 06:10] Dun-sin commented on #183
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-01 06:38] Coding-Hashira opened #185 "[BUG] Text not visible in animation duration input"
### Description

In the animator, in duration input field, the value isn't visible.

This is a quite easy bug to solve as we just have to change the input value color to white.

### Screenshots

![IMG_20221001_120027](https://user-images.githubusercontent.com/96920778/193396064-a77346ad-dc75-42bb-bf9b-85bdce82c38d.jpg)
![IMG_20221001_120010](https://user-images.githubusercontent.com/96920778/19339

[2022-10-01 06:38] Dun-sin commented on #185
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-01 06:44] Dun-sin commented on #185
Would you like to work on it?

[2022-10-01 06:46] Coding-Hashira commented on #185
Yea, sure!

[2022-10-01 07:10] clinton-lynx commented on #175
yeah, I meant the text of the label.

[2022-10-01 07:11] ShivaRapolu01 commented on #117
@Dun-sin

[2022-10-01 07:17] Dun-sin commented on #117
Sorry didn't see this, will assign it to you

[2022-10-01 07:19] Dun-sin commented on #175
We use file pond library for the input, if you find a way to change it based on viewport then go for it.

[2022-10-01 07:29] pushkaraj2007 commented on #183
Can I work on this?

[2022-10-01 07:51] Dun-sin commented on #183
Sure

[2022-10-01 07:54] clinton-lynx commented on #175
Ok

[2022-10-01 08:02] rupali-codes opened #187 "[BUG] so much rendering when clicking on Get Code"
### Description

"code copied" showing multiple times when clicked on "get code"

### Screenshots

![code-copied-rendering-multiple-time](https://user-images.githubusercontent.com/78981177/193399336-248843b7-1062-4de6-938a-2a8d4fc18a4a.png)

[2022-10-01 08:02] Dun-sin commented on #187
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-01 09:16] #166 closed

[2022-10-01 09:42] Coding-Hashira commented on #185
Hey @Dun-sin, instead of just changing the text color of input value, shouldn't I style the whole input field? Currently, we're using the default input field, which is, of course, not looking good!

For now, I'll only style the input field in the animation section, and if you like it, you can apply it everywhere else!

[2022-10-01 09:48] Dun-sin commented on #185
Sure, go for it

[2022-10-01 09:53] Yadvendra016 commented on #138
can you assign this project to me I wanted to work on this

[2022-10-01 10:06] Rinshin-Jalal commented on #187
Can I work on this??

[2022-10-01 10:12] Dun-sin commented on #187
@rupali-codes do you want this?

[2022-10-01 10:17] rupali-codes commented on #187
Yes Dunsin...I want to fix this..kindly assign it to me

[2022-10-01 10:52] Balastrong opened #192 "[BUG] Gradient Text result shown even with empty text"
### Description

Even if the text field is empty, it is possible to click the Get Result button on the Gradient Text page.

The error animation is displayed properly in the text area, but the sidebar with the (empty) result opens regardless.

The code returns early inside an if statement, but the function is called elsewhere and the process is not stopped.

https://github.com/Dun-sin/Code-Magic/bl

[2022-10-01 10:52] Dun-sin commented on #192
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-01 11:59] JC-Coder commented on #192
i'll like to work on this issue kindly assign to me

[2022-10-01 12:13] ManishBisht777 commented on #99
Hi i want to work on this can you assign this to me

[2022-10-01 12:16] Dun-sin commented on #99
Definitely, thanks for wanting to contribute

[2022-10-01 12:36] Srinika99 opened #196 "[FEATURE]interactive landing page"
### Description

Creating an interactive landing page apart from the exact description mentioned in #155  introducing personal touch and solutions.

### Screenshots

_No response_

[2022-10-01 12:36] Dun-sin commented on #196
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-01 12:40] Dun-sin commented on #196
You can design something in figma, if you want🙌🏽

[2022-10-01 12:52] ManishBisht777 opened #197 "[BUG] Multiple Popups in Gradient Border"
### Description

After clicking on the "get code" in the gradient border generator it should be copied to the clipboard and a pop of "copied to clipboard" should appear

But after clicking on "get code" we are getting multiple popups.

### Screenshots

![Screenshot (51)](https://user-images.githubusercontent.com/89926834/193410386-63955850-c614-4cbb-959b-6c0282b4fed0.png)

[2022-10-01 12:52] Dun-sin commented on #197
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-01 12:56] ManishBisht777 opened #198 "[BUG] Incorrect Code Output In Gradient Border Generator"
### Description

After Clicking on the **"Get code"** Button The Code Should be should be copied to the clipboard

like this ( Result from gradient Text Generator)
`
      p{
        font-size: 2rem;
    background: linear-gradient(rgb(0, 0, 64), rgb(0, 0, 0));
    background-clip: 'text';
    -webkit-background-clip: 'text';
    -webkit-text-fill-color: 'transparent';
      }
      `

But the Cod

[2022-10-01 12:56] Dun-sin commented on #198
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-01 13:01] Dun-sin commented on #197
This is a duplicate of #187. Closing this

[2022-10-01 13:01] #197 closed

[2022-10-01 15:08] slim-codes opened #199 "[BUG] Persistence of non gradient-border output"
### Description

Once the result of any of gradient background, pic-text, or gradient-text is generated, it becomes impossible to generate a **gradient border** - clicking the gradient border icon does nothing at this point. This is caused by the previously generated outputs **overlapping** the gradient border.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://code-magic.vercel.

[2022-10-01 15:09] Dun-sin commented on #199
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-01 15:29] slim-codes opened #200 "[BUG] Gradient text flowing out of container"
### Description

- The text in the result obtained from the **gradient-text** generator overflows out of it's container for long text inputs.
- Although, including spaces between the text seems to fix this problem. However, this may be inconvenient for a user particularly when writing longer text.

@Dun-sin I have already worked on this issue and the one preceding it. If you approve of them, I'd l

[2022-10-01 15:29] Dun-sin commented on #200
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-01 15:30] Dun-sin commented on #199
From I brower I could see you had no internet connection, I tried it out now testing each generation twice and they all worked fine.

I think this is from you, maybe try again when your network is stable

[2022-10-01 15:31] Dun-sin commented on #200
Kindly create them as separate issues, thanks

[2022-10-01 15:33] Dun-sin commented on #138
@Yadvendra016 pls create a proper pull request for this

[2022-10-01 15:37] Yadvendra016 commented on #138
@Dun-sin I am currently working on this soon I will make a proper pull request

[2022-10-01 15:37] Dun-sin commented on #138
@Yadvendra016 amazing, thank you✌🏽

[2022-10-01 15:38] slim-codes commented on #199
Okay!
Did you try it on desktop or mobile? Because I'm getting the same issue here on Desktop. Like it only affects the gradient-border. The rest are working fine, however, clicking on gradient border after obtaining the result from gradient background for instance does not work

[2022-10-01 15:40] slim-codes commented on #200
Sure!

[2022-10-01 15:40] Dun-sin commented on #199
That's really weird, I'm going to check it once again

[2022-10-01 15:43] Dun-sin commented on #199
I checked again, works fine. I'm going to leave this open until someone experiences the same issue

[2022-10-01 15:50] Dun-sin commented on #200
I will close this

[2022-10-01 15:50] #200 closed

[2022-10-01 15:56] slim-codes commented on #199
Nice idea
It's possibly from my end too

[2022-10-01 16:11] FrancescoXX commented on #192
I can work on this

[2022-10-01 16:17] #192 closed

[2022-10-01 16:41] #185 closed

[2022-10-01 16:42] Dun-sin commented on #192
:tada: This issue has been resolved in version 2.1.4 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-01 16:42] Dun-sin commented on #185
:tada: This issue has been resolved in version 2.1.4 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-01 16:42] Dun-sin commented on #166
:tada: This issue has been resolved in version 2.1.4 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-01 16:53] yash91989201 commented on #198
If this issue is not assigned to anyone or if there are no PR's fixing this issue , could you please assign this issue to me. I would love to fix it

[2022-10-01 16:54] Dun-sin commented on #198
Definitely, thanks for wanting to contribute

[2022-10-01 18:12] #181 closed

[2022-10-01 22:22] JC-Coder commented on #171
i've fixed this issue and raised a pull request but it keeps failing compliance .please what shopuld i do?

[2022-10-02 05:15] Dun-sin commented on #142
@dsdeepak17 any updates?

[2022-10-02 05:42] dsdeepak17 commented on #142
@Dun-sin Sorry, I was busy, and thanks for reminding me. Will raise the PR today itself.

[2022-10-02 06:38] alicalimli commented on #199
I'm experiencing the same issue here as well, is anyone already working to fix this one?

[2022-10-02 06:47] Dun-sin commented on #199
Take it @alicalimli

[2022-10-02 06:51] alicalimli commented on #199
Okay but the issue isn't happening in Dev server it only happens in the hosted website

[2022-10-02 07:05] Dun-sin commented on #199
It actually happens on my dev server, it happens on @slim-codes too, so I will just assign him to it

[2022-10-02 07:09] alicalimli commented on #199
That's weird in my dev server here its not happening, alright

[2022-10-02 07:17] Dun-sin commented on #199
Programming for you🤣

[2022-10-02 07:20] alicalimli opened #207 "[FEATURE] Smoother animation when showing the results"
### What would you like to share?

Make the slide animation of the results more smoother

https://user-images.githubusercontent.com/79793867/193443499-3e041f58-680d-4247-9966-d6461210f6f6.mp4

[2022-10-02 07:20] Dun-sin commented on #207
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-02 07:22] alicalimli commented on #207
Can i work on this one thanks

[2022-10-02 07:26] alicalimli commented on #199
"It works on my machine" 😂

[2022-10-02 07:37] Dun-sin commented on #207
Let's see a preview first🙌🏽

[2022-10-02 07:42] alicalimli commented on #207
Done I've added a video preview

[2022-10-02 07:46] Dun-sin commented on #207
I fail to see the difference 🙂 did you just increase the time?

[2022-10-02 07:48] alicalimli commented on #207
Oh you mean the one where i changed it

Here:
https://user-images.githubusercontent.com/79793867/193443745-5ca0f811-2b80-4372-8b86-8fccbfac111c.mp4

[2022-10-02 07:48] alicalimli commented on #207
Oh you mean the one where i changed it

Here:

https://user-images.githubusercontent.com/79793867/193443757-80bb4f41-391a-448b-a12f-16cee51fa2c4.mp4

[2022-10-02 07:49] Dun-sin commented on #207
Yes I meant your change lol

[2022-10-02 07:50] Dun-sin commented on #207
Looks good make a pr

[2022-10-02 07:51] alicalimli commented on #207
Alright coming up, thanks!

[2022-10-02 09:02] slim-codes commented on #199
Working on it

[2022-10-02 09:17] Dun-sin opened #209 "Add Animation for NavBar"
### Description

**Problem:** on mobile view, the navbar just opens with no animation

**Solution:** add a sliding animation or whatever animation you want. Send a preview first before you create a pull request

### Screenshots

![Screenshot_2022-10-02-10-15-10-391_com brave browser](https://user-images.githubusercontent.com/78784850/193447023-38647b06-2b14-4d25-88ef-62c6c5426171.jpg)

[2022-10-02 09:17] Dun-sin commented on #209
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-02 09:31] Rahul-Palahwat commented on #209
Hey @Dun-sin can you assign this issue to me??

[2022-10-02 09:33] Dun-sin commented on #209
Let's see the preview of what you want to do first, You can send a screen record here

[2022-10-02 09:39] #207 closed

[2022-10-02 09:40] Dun-sin commented on #181
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-02 09:40] Dun-sin commented on #207
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-02 09:59] Rahul-Palahwat commented on #209
I will be adding a transition in which the cross button will come to the rightmost side and after clicking on cross it will be sent to the left and hide

[2022-10-02 10:37] #199 closed

[2022-10-02 10:38] Dun-sin commented on #199
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-02 10:38] Dun-sin commented on #209
Great, send a screen recording of it please

[2022-10-02 10:40] #183 closed

[2022-10-02 10:41] Dun-sin commented on #183
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-02 10:52] #171 closed

[2022-10-02 10:53] Dun-sin commented on #171
:tada: This issue has been resolved in version 2.3.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-02 10:56] slim-codes opened #213 "[BUG] persistent border radius"
### Description

If the **Include radius** confirmation box is unchecked, the border-radius should disappear. However, that is not the case.
- Setting the radius to 0 is an alternative but it isn't convenient.
- The checkbox should take care of **including** and **excluding** a radius. Right now it's not doing the **latter**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://code

[2022-10-02 10:56] Dun-sin commented on #213
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-02 10:58] slim-codes commented on #213
@Dun-sin I wouldn't mind if someone else takes this one.
Thank you!

[2022-10-02 12:43] tobySolutions commented on #209
Hey Dunsin, can this issue be assigned to me?

[2022-10-02 13:17] czlucius commented on #209
@Dun-sin
Can assign this issue to me?
I have done this feature on my machine, and a screen recording is available below:

https://user-images.githubusercontent.com/58442255/193456058-d38677c0-781d-4a6f-9a28-1d114ca60124.mp4

Tested on Mozilla Firefox 105.0.

[2022-10-02 13:26] Coding-Hashira commented on #213
@Dun-sin Can I work on this issue?

[2022-10-02 17:11] Dun-sin commented on #209
Send a preview of what you are going to do

[2022-10-02 17:13] Dun-sin commented on #213
Definitely, thanks for wanting to contribute

[2022-10-02 18:04] dsdeepak17 commented on #142
Hi @Dun-sin , In Contribution.md -> How to Make a PULL REQUEST, after point 8, it's mentioned that
`⚠️ Make sure not to commit package.json or package-lock.json file`
Here, while adding husky and pretty-quick, they will be added to package.json, why do you want devs to not commit the package.json file?

[2022-10-03 01:28] czlucius commented on #209
Hi
As shown above, I have a preview of the fix
Can reassign this issue to me? I can make a PR soon.
I'm in a different time zone, so I was unable to respond to the comment/assignment about 8 to 9 hours ago.
Thanks

[2022-10-03 04:08] daols1 opened #216 "[FEATURE] Adding Light Mode"
### Description

It would be nice to have a light mode on this project

### Screenshots

_No response_

[2022-10-03 04:09] Dun-sin commented on #216
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-03 10:19] Dun-sin commented on #142
Because when you do npm install you install the latest version of the package which may mess with the whole code, only commit package.json if it's 100% needed like when you install a new package or in this case where it's needed.

[2022-10-03 10:22] Dun-sin commented on #209
I will give it to whoever sends a preview first

[2022-10-03 10:26] Dun-sin commented on #216
Why do you want to do such a horrible thing to my project😳

[2022-10-03 10:28] #172 closed

[2022-10-03 10:29] Dun-sin commented on #172
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-03 11:23] JayrajSingh65 opened #218 "[FEATURE] Hover effect for get results background colour change"
### Description

**hey**

- Can we add hover effect to get results button, background colour changer when user hover it .
- I am working on this feature.
- can you assign me this.

### Screenshots

https://user-images.githubusercontent.com/97652040/193565261-17880a83-0cf1-45ea-b252-3af3e9dcd74c.mp4

[2022-10-03 11:23] Dun-sin commented on #218
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-03 11:25] Dun-sin commented on #218
Definitely, thanks for wanting to contribute

[2022-10-03 11:35] czlucius commented on #209
https://user-images.githubusercontent.com/58442255/193567631-7ae06265-ff30-4e57-a740-1fc8c30aafbf.mp4
Here's a preview of the fix, is it ok?
Thanks

[2022-10-03 11:39] Dun-sin commented on #209
This doesn't play

[2022-10-03 11:39] Dun-sin commented on #209
This doesn't play

[2022-10-03 11:41] czlucius commented on #209
Oh ok
Let me upload another video
Apologies for the inconvenience

[2022-10-03 11:45] czlucius commented on #209
https://drive.google.com/file/d/15xKiP6l7KvsdQD8JC96ZnlNuPwu6b4HA/view
Can you try if this works?
It's a standard MP4 file, it should work when downloaded and played

[2022-10-03 11:51] czlucius commented on #209
https://user-images.githubusercontent.com/58442255/193570193-814cb5f3-e89c-49f2-b3ef-71d7ae64fe8b.mp4

An additional video on Chrome Android.

[2022-10-03 12:17] Aayushd18 opened #221 "[DOCS] Add short description of tricks avialable in Code Magic in README.md"
### Description

Hey!! It would be nice to have a short descriptions of the css tricks we provide in docs.

I would like to work on this

### Screenshots

_No response_

[2022-10-03 13:07] #213 closed

[2022-10-03 13:08] Dun-sin commented on #213
:tada: This issue has been resolved in version 2.4.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-03 13:51] Aayushd18 commented on #221
Hi, if this addition is required to the project. Please assign me.

[2022-10-03 15:23] daols1 commented on #216
LOL😂 just felt that could be something that looks good to some people but its fine

[2022-10-03 15:56] #198 closed

[2022-10-03 15:57] Dun-sin commented on #218
:tada: This issue has been resolved in version 2.4.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-03 16:30] #187 closed

[2022-10-03 16:31] Dun-sin commented on #187
:tada: This issue has been resolved in version 2.4.3 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.4.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-03 19:03] Dun-sin commented on #67
Hi @ctoffanin are you able to work this out?

[2022-10-03 19:09] #221 closed

[2022-10-03 19:22] Oyedare commented on #196
When it is being designed, can i implement it? @Dun-sin

[2022-10-03 19:27] Dun-sin commented on #196
@Oyedare depends on when @Srinika99 is done and If she doesn't want to code it

[2022-10-03 19:27] Dun-sin commented on #196
You can create your own issues to work on @Oyedare

[2022-10-03 19:30] ctoffanin commented on #67
I'll give it another try tomorrow, I'll ping you otherwise

[2022-10-03 19:40] Oyedare commented on #196
Alright.

[2022-10-03 19:58] mrinalstark commented on #196
hey @Dun-sin can i work on the landing page

[2022-10-03 20:01] Dun-sin commented on #196
Try designing it on figma m, i will turn this into a discussion

[2022-10-03 22:56] slim-codes opened #228 "[DOCS] Minor issues with Magic options subheading"
### Description

- Typo: **avaiable** should be **available**
- All occurrences of **css** should be in caps **CSS**
- Consider changing all occurrences of **2** to **dual** and remove unnecessary hyphens (e.g **_"Gradient Text: get **dual** color gradients for your text"_**)

Relates to #220

@Dun-sin
- I'd like to revise the README after hacktoberfest. Just a couple of minor modifications/improv

[2022-10-03 22:56] Dun-sin commented on #228
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-03 23:08] Keith-Web3 opened #229 "[BUG] Minor bug: Animator slider"
### Description

The slider for the skew and flip animation types have a range of -90 to 90 while that of the fade from 0 to 1. However, when I switch from one animation type to another e.g skew to fade, the value on the slider dos not change to suit it's specified range unless the slider is moved.

### Screenshots

![Screenshot (4)](https://user-images.githubusercontent.com/96974022/193701555-6d9

[2022-10-03 23:08] Dun-sin commented on #229
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-04 03:46] Coding-Hashira commented on #228
@Dun-sin Can I work on this?

[2022-10-04 08:32] Keith-Web3 commented on #229
I checked the site again and it seems like the issue has been addressed.  But the solution wasn't really too good. The fade animation slider range was changed to -90 to 90deg which isn't really good for the UX as opacity is usually associated with a range of 0 to 1. I think the range for the fade animation should be changed to 0 to 1 without a unit.

[2022-10-04 12:34] Abdulmumin1 opened #232 "[BUG] <description>"
### Description

Animation notification show up corresponding to the number of times you click get result without clicking get code!

will like to work on this

### Screenshots

![Screenshot from 2022-10-04 13-31-17](https://user-images.githubusercontent.com/73160766/193820187-9eecbf26-6166-4506-aac9-c64e58c7be2e.png)

[2022-10-04 12:34] Dun-sin commented on #232
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-04 12:50] Dun-sin commented on #228
Sure @Coding-Hashira

[2022-10-04 12:51] #209 closed

[2022-10-04 12:52] Dun-sin commented on #221
:tada: This issue has been resolved in version 2.5.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-04 12:52] Dun-sin commented on #209
:tada: This issue has been resolved in version 2.5.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-04 12:53] Dun-sin commented on #229
Your issue is very confusing

[2022-10-04 13:36] #228 closed

[2022-10-04 14:40] Dun-sin opened #234 "[BUG] Border radius error"
### Description

**Problem:** When you click on `include radius` it doesn't work unless you click on get results

### Screenshots

https://user-images.githubusercontent.com/78784850/193848829-a0c43cf0-f7d6-4b19-aa6d-979ff913c0e9.mp4

[2022-10-04 14:40] Dun-sin commented on #234
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-04 16:35] abhishekpatil4 commented on #234
@Dun-sin Assign me this task, I'm a front end developer and will get it done in no time

[2022-10-04 19:15] abhishekpatil4 commented on #234
@Dun-sin Verify my pull request

[2022-10-04 19:20] Keith-Web3 commented on #229
![Screenshot (9)](https://user-images.githubusercontent.com/96974022/193906673-761c9ed2-d403-437a-a2dc-addd74fdb1b3.png)

The range slider for fade animation has a range of -90 to 90. When the code is copied, these values are used as the opacity.
I think the description should be changed from speed to opacity and the range should be from 0 to 1.

[2022-10-04 19:46] Dun-sin commented on #229
You are right about one thing, it should not be -90, it shouldn't be degrees at all because speed doesn't go in degrees. It isn't opacity seeing as that's not what it does to the animation, it just speeds it up, the range should be around 2-10

[2022-10-04 20:21] slim-codes commented on #234
@abhishekpatil4
Be suggestive next time
Make **suggestions** (could you verify my PR) not **assertions** to maintainers in future.
Plus your PR is **failing some tests** go back and fix them before asking for verification

[2022-10-05 00:33] uday03meh opened #236 "[FEATURE] Make generators interactive"
### Description

### I would like to add a combination of **transform : scale**,  **translate** and **hover class** to these generators to make them look interactive.

![image](https://user-images.githubusercontent.com/59679281/193951447-5a8e7236-71a1-44c1-a0d7-9ec748b46bf3.png)

### Screenshots

![image](https://user-images.githubusercontent.com/59679281/193951447-5a8e7236-71a1-44c1-a0d7-9ec748b4

[2022-10-05 00:34] Dun-sin commented on #236
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-05 00:35] uday03meh commented on #236
Can someone assign this to me?

[2022-10-05 03:36] Dun-sin commented on #236
Thanks for creating this issue, but it's not needed

[2022-10-05 03:36] #236 closed

[2022-10-05 09:02] Keith-Web3 commented on #234
Hello Dun-sin. Is this issue still up for grabs? I would love to be assigned to this.

[2022-10-05 09:27] #234 closed

[2022-10-05 09:27] Dun-sin commented on #228
:tada: This issue has been resolved in version 2.5.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-05 09:28] Dun-sin commented on #234
:tada: This issue has been resolved in version 2.5.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-05 15:05] Coding-Hashira commented on #67
Can I give it a try?

@Dun-sin could you please assign this issue to me?

[2022-10-05 15:10] Dun-sin commented on #67
Definitely, thanks for wanting to contribute

[2022-10-05 18:45] 1Dedios opened #238 "[FEATURE] Categorize Generators By Type"
### Description

As you continue adding more generators it's good to stay organized. The best way to do that in the mean time is creating a title for each section. Screenshots attached of a quick codepen I did.
![Screen Shot](https://user-images.githubusercontent.com/105307909/194137908-259d3851-dfc3-457e-8e1e-1f7694f41d9e.png)

### Screenshots

_No response_

[2022-10-05 18:45] Dun-sin commented on #238
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-05 18:57] Dun-sin commented on #238
I personally think this doesn't look good, but I get your point. It will be taken care of when it's time

[2022-10-06 09:16] rupali-codes commented on #138
Hi @Dun-sin, can this issue be assined to me?

[2022-10-06 13:28] Elijah-trillionz commented on #229
Wow, just noticed more issues on this too. I think there is more to this than what has been specified yet. Can I patch this up @Dun-sin

[2022-10-06 13:29] Dun-sin commented on #229
Sure, it was your pull request in the first place

[2022-10-06 13:29] #229 closed

[2022-10-06 13:41] Elijah-trillionz opened #239 "[BUG] animator range indicator displaying a wrong range on the fade animation"
### Description

As mentioned before there is more to this than the indicator. From what I've gathered.

1. The range input doesn't change the default range when a user switches to a new animation unless the "Get Results" button is clicked.
2. the range indicator doesn't change its default message unless the range input value has changed.
3. the range indicator displays a wrong unit for the __fade

[2022-10-06 13:41] Dun-sin commented on #239
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-06 13:50] dlford opened #240 "[ENHANCEMENT] Improve Pic-Text by using different characters"
### Description

I remember reading an article a while back about generating ASCII art, they wrote a function to calculate which character to use for each "pixel" by calculating the density of each region, I think that would be a nice enhancement to the Pic-Text generator, or perhaps a new generator would be more appropriate since the colors applied may not have the same effect.

Here is an exampl

[2022-10-06 14:32] Dun-sin commented on #240
Definitely doesn't do well with colors

This project:
![IMG_20221006_153129.jpg](https://user-images.githubusercontent.com/78784850/194340568-943370c1-9566-495e-ae1c-2004ffe4a28d.jpg)

Ascii:
![ASCII-art.png](https://user-images.githubusercontent.com/78784850/194340698-fda67779-5591-4e31-aab1-b2d20301bb34.png)

[2022-10-07 05:47] Coding-Hashira commented on #67
@Dun-sin I'm sorry but I don't think I'd be able to do this. Could you please assign this issue to someone else? 😅

[2022-10-07 05:52] Dun-sin commented on #67
Lol, sure

[2022-10-07 05:54] Coding-Hashira commented on #175
@clinton-lynx Maybe you can refer to [this section](https://pqina.nl/filepond/docs/api/instance/properties/#labels) of File Pond's documentation for the task!

[2022-10-07 11:00] #67 closed

[2022-10-07 12:00] Dun-sin commented on #117
@ShivaRapolu01 any update pls?

[2022-10-07 12:04] #142 closed

[2022-10-07 12:16] Dun-sin opened #242 "[OTHER] change format of adding type"
### What would you like to share?

In the code, `<Type>Value` is used to tell the type of the value to a variable
example:
https://github.com/Dun-sin/Code-Magic/blob/a53676b28d83989c79a78639a2aae9fb35fef0b0/src/main.ts#L81-L83

It doesn't look clean much, change all type definition for values to `Value as Type`
Example:
https://github.com/Dun-sin/Code-Magic/blob/a53676b28d83989c79a78639a2aae9fb35f

[2022-10-07 12:16] Dun-sin commented on #242
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-07 12:18] Dun-sin commented on #232
This issue has been fixed, thanks for creating

[2022-10-07 12:18] #232 closed

[2022-10-07 12:19] Dun-sin commented on #242
saying please won't hurt

[2022-10-07 12:54] ShivaRapolu01 commented on #117
Sorry I was outside for 4 days. I will be working on this issue from tonight. Sorry for the delay

[2022-10-07 13:06] Dun-sin commented on #117
No worries, it's fine🙌🏽

[2022-10-07 15:22] #242 closed

[2022-10-07 16:35] Coding-Hashira commented on #175
@Dun-sin if nobody is working on this issue, could you please assign this to me?

[2022-10-07 21:42] 1Dedios commented on #238
This was quick mockup so you can visualize what I was saying but obviously it can be styled however you want but ok...

[2022-10-07 21:42] #238 closed

[2022-10-08 08:15] alicalimli opened #245 "[BUG] Sidebar bug when clicking on a generator"
### Description

Is this a bug?
https://user-images.githubusercontent.com/79793867/194697558-3ecaa420-f230-409d-9126-bf17e9884174.mp4

### Screenshots

_No response_

[2022-10-08 08:15] Dun-sin commented on #245
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-08 08:51] Dun-sin commented on #245
The white background that shows right?

[2022-10-08 09:09] alicalimli commented on #245
Yes that one.

I'll do it If you don't know yet how to fix it?

[2022-10-08 09:13] Dun-sin commented on #245
I can fix it, but I'm working on something else right now so I will assign you

[2022-10-08 09:16] alicalimli commented on #245
Alrighty thanks

[2022-10-08 09:37] #245 closed

[2022-10-08 09:37] Dun-sin commented on #242
:tada: This issue has been resolved in version 2.6.3 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.6.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-08 09:37] Dun-sin commented on #142
:tada: This issue has been resolved in version 2.6.3 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.6.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-08 09:37] Dun-sin commented on #245
:tada: This issue has been resolved in version 2.6.3 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.6.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-08 09:41] alicalimli opened #247 "[BUG] Sidebar content breaks before 444px"
### Description

Sidebar content is already broken before it shows the menu bar for responsive design

![screenshot](https://user-images.githubusercontent.com/79793867/194701064-37af01fb-9ccb-4a1b-bd43-80fae64f4bb7.jpg)

### Screenshots

_No response_

[2022-10-08 09:41] Dun-sin commented on #247
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-08 11:38] Ericchuk opened #248 "[FEATURES] Creating a toolTip"
### Description

Creating a toolTip that would describe the action of each item on the sidebar.
This would make it easy for users to understand what each item does, I had to start clicking on each item on the sidebar to know what they do. This features will only be enabled on only desktop, the features will be called on hover of each item on the side bar

### Screenshots

_No response_

[2022-10-08 11:38] Dun-sin commented on #248
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-08 13:05] #175 closed

[2022-10-08 13:06] Dun-sin commented on #175
:tada: This issue has been resolved in version 2.6.4 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.6.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-08 13:08] Coding-Hashira commented on #248
If you don't mind, can I work on this issue?

@Dun-sin could you assign this to me?

[2022-10-08 13:09] #239 closed

[2022-10-08 13:10] Dun-sin commented on #239
:tada: This issue has been resolved in version 2.6.5 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.6.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-08 13:10] Dun-sin commented on #248
@Ericchuk do you want to work on it?

[2022-10-08 13:41] Ericchuk commented on #248
Yeah, I do want to work on it.

[2022-10-08 16:37] aparna2071 opened #250 "[BUG] The color code is always set to #000000"
### Description

Firstly, I would appreciate your efforts in making this repository @Dun-sin.
I really loved it ❤️

The issue is the color code of all colors show #000000.
Kindly check the attached screenshot.

### Screenshots

![dunsin_color](https://user-images.githubusercontent.com/54634804/194717897-8d850055-df70-4e73-877a-a6cb20e6c603.PNG)

[2022-10-08 16:37] Dun-sin commented on #250
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-08 16:41] Dun-sin commented on #250
That's black tho, did you try picking another color

[2022-10-08 17:16] aparna2071 commented on #250
Oh, sorry I didn't slided the below slider for color & it was set to black, that's why showing #000000

[2022-10-08 17:16] #250 closed

[2022-10-08 19:49] Satechmedia opened #251 "[BUG] <description>"
### Description

# The app UI breaks on smart phones device.

### Screenshots

### [<a href="https://ibb.co/J3SsWQX"><img src="https://i.ibb.co/mNPcr8Q/Screenshot-20221008-204709.jpg" alt="Screenshot-20221008-204709" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'>new hd png</a><br />](url)

[2022-10-08 19:49] Dun-sin commented on #251
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-08 21:26] Satechmedia commented on #251
How do I check or know that I'm assigned to this? @Dun-sin

[2022-10-09 05:50] rupali-codes commented on #251
You'll get notified via Email or Github notifications

[2022-10-09 09:50] rupali-codes opened #252 "[BUG] Gradient Text unexpected behaviour"
### Description

Hey @Dun-sin, I just found some bugs in Gradient Text:
- Asking 2 times for downloading Image or SVG.
- Downloaded image and svg are Blank.
- Copied Code generating incorrect output

### Screenshots

- Downloaded image
![image](https://user-images.githubusercontent.com/78981177/194749650-d774b44e-3818-4466-88ae-31d25dfe2b6b.png)

- Downloaded svg
![image](https://user-images.githu

[2022-10-09 09:50] Dun-sin commented on #252
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-09 09:56] Dun-sin commented on #252
It works when you download on Firefox but not on other browsers.

[2022-10-09 13:20] #155 closed

[2022-10-09 13:20] Dun-sin commented on #155
:tada: This issue has been resolved in version 2.7.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-09 13:56] #138 closed

[2022-10-09 13:56] Dun-sin commented on #138
:tada: This issue has been resolved in version 2.8.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-09 14:01] Dun-sin opened #253 "[DOCS] change readme GIF"
### Description

We now have a homepage for this project, so the GIF in the readme should change, because this current one doesn't have the homepage on it.

Take a screen recording, using [Awesome Screenshot](awesomescreenshot.com/) or whatever screen recorder you know and like best, don't let your tab show just like the current GIF.
Use [Ezgif maker](https://ezgif.com/maker) to convert the video

[2022-10-09 14:02] Dun-sin commented on #253
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-09 14:07] rupali-codes commented on #252
Okay Dunsin, but copied code is still not generating output as expected (last point)

[2022-10-09 14:30] Dun-sin opened #255 "[BUG] unnecessary active background"
### Description

**Problem:** When a user clicks on a generator and then clicks on `code magic` header text to go to the home page, it keeps the background for that certain generator that was previously clicked

**solution:** When a user clicks on `code magic` header text, it shouldn't show the background for the previous generator clicked

### Screenshots

https://user-images.githubusercontent.co

[2022-10-09 14:30] Dun-sin commented on #255
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-09 14:55] prakhartiwari0 opened #256 "[FEATURE] Add a rotation animation in Animator"
### Description

Can we add a rotate() animation also in Animator tab

### Screenshots

_No response_

[2022-10-09 14:55] Dun-sin commented on #256
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-09 14:59] Dun-sin opened #257 "[FEATURE] Keep every similar input in one div"
### Description

#### **Problem:** It doesn't look good for all 4 similar input to be in one div and not 4 different ones
![image](https://user-images.githubusercontent.com/78784850/194762817-b40e434f-b172-44ff-adc5-2eb03003058b.png)

#### **solution:** It should look like this👇🏾

![image](https://user-images.githubusercontent.com/78784850/194763897-e95ac19d-f651-4620-b7db-04ea6b2c5651.png)

[2022-10-09 14:59] Dun-sin commented on #257
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-09 15:02] Dun-sin commented on #252
Oh yeah, you can fix that if you want, let me know if you want it

[2022-10-09 15:07] Dun-sin commented on #256
do you want to add it>

[2022-10-09 15:16] Maxime-p commented on #257
I'm taking it

[2022-10-09 15:18] prakhartiwari0 commented on #256
@Dun-sin I really want to work on it, but unfortunately, I fear that I don't have the required skills for it. I am a very noob in JS and only know its basics, not aware of TypeScript.
I would be very grateful if you can guide me to learn and then contribute, or if you don't you can wait for anybody else to address this issue.

[2022-10-09 15:20] Dun-sin commented on #256
If you are a noob in JS, you can check out other easier issues, I will give this to someone else. Thanks for raising it

[2022-10-09 15:37] Dun-sin opened #259 "[DOCS] add box shadow to the readme"
### Description

### There's a new generator called box shadow, it generates box shadow for elements, give a little fun description of what it is

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/194765107-a68a4411-733a-4d1e-818f-8fb34864599f.png)

[2022-10-09 15:37] Dun-sin commented on #259
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-09 15:39] Dun-sin commented on #255
Definitely, thanks for wanting to contribute

[2022-10-09 16:08] Ericchuk commented on #259
Can you please assign this to me

[2022-10-09 16:09] rupali-codes commented on #252
Yeah OK, you can assign it to me ☺

[2022-10-09 16:14] ctoffanin commented on #256
@Dun-sin if nobody else wants this, you can drop it on me

[2022-10-09 16:15] Dun-sin commented on #259
I'm leaving this to new contributors, plus your past PR isn't accepted yet

[2022-10-09 16:20] KlausMikhaelson commented on #253
Hey @Dun-sin can I work on this ?

[2022-10-09 16:21] Dun-sin commented on #253
I'm leaving this for new contributors

[2022-10-09 16:22] rupali-codes commented on #259
Suggestion: "Get your Divs highlighted with Box shadow"

[2022-10-09 16:23] KlausMikhaelson commented on #253
yeah make sense it'll be better for new contributors

[2022-10-09 19:57] ShivaRapolu01 commented on #117
Seems like it would take me more time. If any other person is up for this please let them contribute

[2022-10-09 20:26] yhoungdev opened #263 "Suggestuibs"
### What would you like to share?

Users should be able to see what see the effect they are adding

with that it can be easy to adjust

### Additional information

_No response_

[2022-10-09 20:26] Dun-sin commented on #263
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-10 03:04] #255 closed

[2022-10-10 03:06] Dun-sin commented on #263
Be more clear with your issue please

[2022-10-10 04:44] DhavalDobariya333 commented on #253
Can I work on this issue?

[2022-10-10 08:57] Dun-sin commented on #251
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.8.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-10 09:29] IamGideonIdoko commented on #99
@Dun-sin Can I work on this?

[2022-10-10 11:17] #99 closed

[2022-10-10 11:18] Dun-sin commented on #99
:tada: This issue has been resolved in version 2.9.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-10 11:29] Dun-sin opened #264 "[DOCS] add border radius to the readme"
### Description
#### There's a new generator called border radius, it generates border radius for divs, give a little fun description of what it is

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/194765107-a68a4411-733a-4d1e-818f-8fb34864599f.png)

[2022-10-10 11:30] Dun-sin commented on #264
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-10 11:35] Ni-vik commented on #264
I am ready to work on this.

[2022-10-10 13:14] #252 closed

[2022-10-10 13:15] Dun-sin commented on #252
:tada: This issue has been resolved in version 2.9.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-10 13:20] Maxime-p commented on #257
Ok so let's restart.
I have a good fix for this issue if you need. You can assign me if you want.

[2022-10-11 04:23] buneeIsSlo commented on #259
@Dun-sin Hi! I'd like to do this.

[2022-10-11 04:28] ManishBisht777 commented on #264
hi i can work on this

[2022-10-11 04:30] ManishBisht777 commented on #257
if it is not assigned to anyone I am more than happy to  work on this

[2022-10-11 05:19] #256 closed

[2022-10-11 05:20] Dun-sin commented on #256
:tada: This issue has been resolved in version 2.10.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-11 05:26] alicalimli commented on #247
Can i do it

[2022-10-11 06:01] Dun-sin commented on #247
It's something simple, i will like to leave it for new contributors

[2022-10-11 06:31] Rounak-28 commented on #247
@Dun-sin Can I work on this?

[2022-10-11 06:34] Dun-sin commented on #247
Definitely, thanks for wanting to contribute

[2022-10-11 06:46] alicalimli commented on #247
Got it 🙌

[2022-10-11 07:18] #259 closed

[2022-10-11 08:59] #248 closed

[2022-10-11 09:00] Dun-sin commented on #259
:tada: This issue has been resolved in version 2.11.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-11 09:00] Dun-sin commented on #248
:tada: This issue has been resolved in version 2.11.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-11 09:11] Ruchita1010 opened #270 "[BUG] Content overflow in Animator"
### Description

The content in Animation Type and Duration overflows for smaller screen sizes!

### Screenshots

![Screenshot (275)](https://user-images.githubusercontent.com/70577616/195048780-f634f016-e24f-4620-a1c6-5b3efed25d11.png)

[2022-10-11 09:11] Dun-sin commented on #270
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-11 09:14] Ruchita1010 commented on #270
I would like to work on this issue. Can you assign it to me?

[2022-10-11 09:16] Dun-sin commented on #270
Definitely, thanks for wanting to contribute, It just needs a Flexbox arrangement.

Good luck

[2022-10-11 09:27] sudeepg95 commented on #117
@Dun-sin
Can I give this one a shot?

[2022-10-11 09:39] Dun-sin opened #272 "[FEATURE] add tooltip for border radius"
### Description

Every generator has a tool tip with a short description of what it does, but the border radius generator is new.

Add a tool tip description for it

### Here's an example of a generator with a tool tip
https://github.com/Dun-sin/Code-Magic/blob/6931978f24d53d4e711ce2fd96c6136f6b057e22/index.html#L158-L168

#### Here's the element in need of a tool tip
https://github.com/Dun-sin/Co

[2022-10-11 09:39] Dun-sin commented on #272
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-11 09:40] najeebkp commented on #272
Hi @Dun-sin  please assign this to me

[2022-10-11 09:44] subashpaul commented on #272
assign this to me plz

[2022-10-11 10:13] #272 closed

[2022-10-11 10:24] Dun-sin commented on #272
:tada: This issue has been resolved in version 2.12.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-11 10:29] #216 closed

[2022-10-11 10:29] #240 closed

[2022-10-11 10:29] #263 closed

[2022-10-11 12:37] #257 closed

[2022-10-11 12:38] Dun-sin commented on #257
:tada: This issue has been resolved in version 2.13.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.13.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-11 12:58] #270 closed

[2022-10-11 12:58] Dun-sin commented on #270
:tada: This issue has been resolved in version 2.13.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.13.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-11 13:35] Dun-sin commented on #264
You can start now, good luck

[2022-10-11 13:39] tmsagarofficial commented on #253
i can see that this issue has been  assigned to someone else already but pls consider assigning it to me after others try to do the same. @Dun-sin I will be waiting to help 🙏

[2022-10-11 13:41] Dun-sin commented on #253
You already have something to work on, focus on that

[2022-10-11 15:58] #247 closed

[2022-10-11 15:58] Dun-sin commented on #247
:tada: This issue has been resolved in version 2.13.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.13.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-11 17:33] DhavalDobariya333 commented on #253
Hello 👋,
As I doing this issue I see that the website home page video is also old.
So when I record the website for GIF it gets an old video.
We have to first update the website video to make a fully updated README file and website.
So we have to rise an issue for video updates for the website home page update.
and then that after video updates I can do this issue.

So please first rise a new issu

[2022-10-11 18:17] Dun-sin commented on #253
Doesn't matter, all I care about is the text on it

[2022-10-12 00:48] tmsagarofficial commented on #264
@Dun-sin  Hi again, Thanks for assigning it to me. Will surely solve this ASAP .

[2022-10-12 04:24] DhavalDobariya333 commented on #253
I updated GIF in my forked repo.
So can I also change the website video in this issue?
or just leave it to you? and I do pull request this issue.

[2022-10-12 04:26] Dun-sin commented on #253
Just update the readme, thanks

[2022-10-12 04:39] Dun-sin opened #278 "[FEATURE] show amount of pixels immediately in box shadow"
### Description

Like the other generators where you get to see the amount of degree, updating when the slider is moved. The same should be for the sliders in box shadow generator, but instead of degree it should be pixels

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/195250316-6e0018bb-0195-4ce7-b206-924fc4fa8f05.png)

[2022-10-12 04:39] Dun-sin commented on #278
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-12 05:43] IamGideonIdoko commented on #278
@Dun-sin Can I work on this?

[2022-10-12 06:09] Dun-sin commented on #278
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-12 13:48] Coding-Hashira opened #279 "[FEATURE] Add Preview in Box Shadow"
### Description

Just like any other generators, it'd be great to add a preview in box shadow generator. It'll show you how the shadow will look as you'll play with the values (sliders)

### Screenshots

_No response_

[2022-10-12 13:49] Dun-sin commented on #279
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-12 14:30] Dun-sin commented on #253
@DhavalDobariya333 an update pls

[2022-10-12 15:04] tmsagarofficial commented on #264
@Dun-sin Hi again, Can i just add that line of README.md of border radius if assigned. ? Pls let me know and do also check twitter i hav DM'd you

[2022-10-12 15:09] Dun-sin commented on #264
I already told you what to do like 9 hours ago, you didn't.

Gonna give someone else the chance🙌🏽

[2022-10-12 16:25] tmsagarofficial commented on #264
Ok no problem.

[2022-10-12 17:26] #253 closed

[2022-10-12 19:17] Ni-vik commented on #264
@Dun-sin can I work on this?

[2022-10-13 01:42] jeoffreyduke commented on #279
i could work on this

[2022-10-13 03:38] Dun-sin commented on #264
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-13 03:39] Dun-sin commented on #279
@Coding-Hashira do you have an idea of what to do?

[2022-10-13 04:46] Suvradippaul opened #281 "[OTHER] 'Go back' instead of 'Results'"
### What would you like to share?

Hi @Dun-sin, I think it's more meaningful to show 'Go back' or simply 'Back' alongside the Back Button instead of 'Results'

![Screenshot (13)](https://user-images.githubusercontent.com/68487263/195503101-d9f87708-9dac-40f9-bbaa-b4bf12c39b89.png)

Let me know what you think of it. I can work on it if you want.

### Additional information

_No response_

[2022-10-13 04:46] Dun-sin commented on #281
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-13 04:59] Coding-Hashira commented on #279
Maybe we can place a preview box, with box shadow, same as result, but it'll get updated when you'll play with sliders.

[2022-10-13 06:23] Dun-sin commented on #279
Maybe place a tiny div at the top right corner of the window.

[2022-10-13 06:25] Coding-Hashira commented on #279
Yep, though position totally depends on you. Also, if someone else wants to work on this issue, I'm completely okay with that!

[2022-10-13 07:00] Coding-Hashira commented on #281
If you don't mind, can I give it a shot?

[2022-10-13 07:34] Dun-sin commented on #281
Nice Idea, but I see why you think the results is to go back, it's more like to tell the user where they are.

The better option is to give a tool tip that says "back" when the icon is hovered

[2022-10-13 07:38] Dun-sin commented on #253
:tada: This issue has been resolved in version 2.14.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-13 07:38] Dun-sin commented on #278
:tada: This issue has been resolved in version 2.14.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-13 12:03] IamGideonIdoko commented on #279
@Dun-sin Can I work on this?

[2022-10-13 13:10] #264 closed

[2022-10-13 13:10] Dun-sin commented on #264
:tada: This issue has been resolved in version 2.15.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-13 13:19] Ruchita1010 commented on #281
I think it's creating confusion because 'Results' is too close to the back button. Tooltip is a good idea! Just a suggestion though, we can create a button with the arrow icon and text saying 'back'. What do you think Dun-sin?

[2022-10-13 14:38] Dun-sin commented on #281
Positioning the 'results' away from the button is a good, along with the tooltip

[2022-10-13 14:54] Dun-sin opened #284 "[BUG] degree not showing up in `gradient text` generator"
### Description

There's a bug in the gradient text generator, the degree doesn't show up when the slider is moved

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/195631378-f5f5ccf9-6f5f-4a08-a798-a4baa7442985.png)

[2022-10-13 14:54] Dun-sin commented on #284
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-13 14:57] Dun-sin commented on #279
@IamGideonIdoko try to place the preview at the top left corner

[2022-10-13 15:07] Dun-sin opened #285 "[FEATURE] add ability to reopen results"
### Description

**Problem:** The only way to get/see the results is if you click on `get results`, but a user may want to see the past result after they changed the inputs.

**Solution:** Add this [icon](https://icon-sets.iconify.design/lucide/sidebar-open/) in the top right corner, when clicked it should open the results sidebar

## Your Tasks
- [ ] add the icon in the top right corner
- [ ] whe

[2022-10-13 15:08] Dun-sin commented on #285
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-13 15:11] SarojWasti commented on #284
@Dun-sin Hey I would like to work on this.

[2022-10-13 15:14] Dun-sin commented on #284
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted.
Good Luck

[2022-10-13 16:57] Dun-sin opened #286 "[BUG] double horizontal label in `box shadow` generator"
### Description

The input element beside the blur should be `spread` not `horizontal`
This element right here needs the change 👇🏾
https://github.com/Dun-sin/Code-Magic/blob/e4c1d2d53354fcd15c17b582de295799c20be3a3/index.html#L492

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/195658310-ae3c5030-b5a5-4255-81e2-a03ee1fcf195.png)

[2022-10-13 16:57] Dun-sin commented on #286
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-13 17:21] anuragh2002 commented on #286
Hey @Dun-sin I would like to work on this issue. Can you please assign it to me?

[2022-10-13 17:28] Ni-vik commented on #285
@Dun-sin I am ready to work on this.

[2022-10-14 03:00] Dun-sin commented on #286
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-14 04:53] #286 closed

[2022-10-14 04:54] Dun-sin commented on #286
:tada: This issue has been resolved in version 2.15.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.15.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-14 07:26] NAJIB-B commented on #285
can you shed more light on this. I don't know what the result side bar is.

[2022-10-14 07:30] Dun-sin commented on #285
Try using the project

[2022-10-14 07:44] Dun-sin opened #288 "[FEATURE] Disable getting results in `gradient border`"
### Description

If a color isn't picked, user shouldn't get a result or allowed to move to the result page

Like gradient text that shows an animation when there isn't a text, the color input should do the same.

### Screenshots

[2022-10-14 07:46] NAJIB-B commented on #285
I will have to calm down and study the code and get familiar with it.

[2022-10-14 08:02] slim-codes commented on #288
I'd love to work on this

[2022-10-14 11:56] #281 closed

[2022-10-14 12:01] Dun-sin opened #289 "[FEATURE] Improve results sidebar"
## Your Tasks
- [ ] Add a tooltip that says `back` on hover, to the icon
- [ ] Move the `results` text much further away from the icon

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/195841645-755e5309-68b9-4e8b-8dcd-f23a63c504a2.png)

[2022-10-14 12:01] Dun-sin commented on #289
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-14 12:01] Dun-sin commented on #281
Moved this to #289

[2022-10-14 12:12] amardeep911 commented on #289
Plz assign this to me

[2022-10-14 12:26] Dun-sin commented on #289
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-14 13:52] mr-loop-1 commented on #288
Hi @Dun-sin,

I want to fix this issue. Can you please assign this to me.

[2022-10-14 14:58] Dun-sin commented on #288
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-14 17:07] #288 closed

[2022-10-14 17:08] Dun-sin commented on #288
:tada: This issue has been resolved in version 2.16.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-14 17:17] Dun-sin opened #291 "[FEATURE] Disable getting results in `gradient background`"
### Description

If a colour isn't picked, user shouldn't get a result or allowed to move to the result page

Like gradient text that shows an animation when there isn't a text, the colour input should do the same.

If you don't know exactly how to do it, checkout this PR that solved a similar problem #290

#### Your tasks
- [ ] disable `get result` button if either/both of the colours input is mi

[2022-10-14 17:17] Dun-sin commented on #291
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-14 17:18] Dun-sin commented on #284
hi, @SarojWasti an update on this pls

[2022-10-14 17:25] jeoffreyduke commented on #291
Can I work on this, Dunsin?

[2022-10-14 17:29] Ruchita1010 commented on #284
Can I work on this issue Dun-sin?

[2022-10-14 17:33] Dun-sin commented on #291
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-14 17:34] Dun-sin commented on #284
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-14 18:15] Ruchita1010 commented on #284
Hey, Dun-sin the same bug is in the gradient border and gradient background. And it's occurring due to missing unit-display class. Should I fix those two or just fix the gradient text? (Asking in case you want to keep them for new contributors)

[2022-10-14 18:53] Dun-sin commented on #284
Leave them, thanks🙌🏽

[2022-10-15 07:01] #279 closed

[2022-10-15 07:02] Dun-sin commented on #279
:tada: This issue has been resolved in version 2.17.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.17.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-15 07:27] Ni-vik commented on #285
@Dun-sin Can you assign it to me?

[2022-10-15 07:48] Dun-sin commented on #285
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-15 08:00] Dun-sin commented on #117
@sudeepg95 an update, pls

[2022-10-15 10:38] #284 closed

[2022-10-15 10:39] Dun-sin commented on #284
:tada: This issue has been resolved in version 2.17.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.17.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-15 11:14] Dun-sin opened #294 "[BUG] preview goes under the menu icon in mobile view"
### Description

The preview box for box shadow generator goes under the menu icon.

**Tasks**
- [ ] move the position of the box a away from the menu icon

### Screenshots

![IMG_20221015_121048](https://user-images.githubusercontent.com/78784850/195983387-957c0472-6d43-474a-b734-9602f4b90d9e.jpg)

[2022-10-15 11:14] Dun-sin commented on #294
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-15 11:18] mb-008 commented on #294
i want to work on this issue

[2022-10-15 11:23] Kitashi14 commented on #294
would like to do this

[2022-10-15 12:26] IamGideonIdoko commented on #294
@Dun-sin What if the preview is positioned at the top right corner instead?

[2022-10-15 13:41] Dun-sin commented on #294
That's the position for something else

[2022-10-15 19:11] sami-29 commented on #294
I would like to give this task a try 😸

[2022-10-16 02:50] khanhtranngoccva commented on #294
I would like to give this a try, Dunsin! 🌟

[2022-10-16 03:21] khanhtranngoccva opened #295 "[FEATURE] Need larger direct preview in the background gradient generator, and the UI in this feature needs some revamping."
### Description

Currently:
1. The preview screen when the user is inputting colors is too small, and no one wants to switch back and forth between the bigger preview and the color input screen.
2. The color inputs are currently inconsistent with the theme of your app.

### Screenshots

![image](https://user-images.githubusercontent.com/61155608/196016235-7520d04a-7099-4e2f-8a1c-72659b9efe40.png)

[2022-10-16 03:21] Dun-sin commented on #295
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-16 04:01] Dun-sin commented on #294
thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-16 08:17] khanhtranngoccva commented on #295
This is an example of what the new UI would look like. Pending assignment to create a pull request. 🌟
![image](https://user-images.githubusercontent.com/61155608/196025584-72edea1f-9465-4722-816a-c1735b8ca9ca.png)

[2022-10-16 08:47] Dun-sin opened #296 "[FEATURE] better slider"
### Description

The sliders are made with html input type range, and it's the default styling, add a better styling for all input ranges, [Here's a reference on how to style input of type range](https://nikitahl.com/style-range-input-css#:~:text=To%20style%20the%20range%20input,selectors%20for%20the%20range%20input)

### Screenshots

![IMG_20221016_094134](https://user-images.githubusercontent.co

[2022-10-16 08:47] Dun-sin commented on #296
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-16 08:52] slim-codes commented on #296
@Dun-sin
can I approach this issue?

[2022-10-16 08:52] Dun-sin commented on #291
@jeoffreyduke an update pls?

[2022-10-16 08:55] Dun-sin commented on #296
It's a good first issue for new contributors

[2022-10-16 08:57] slim-codes commented on #296
Oh! shoot. I missed the label 🤦‍♂️

[2022-10-16 09:01] jeoffreyduke commented on #291
Sorry for the delay. You see, the "disable button" isn't actually a button, so the only way to disable clicking on it is by setting: pointerEvents = 'none'. But doing this has been stalled because I have had to study the overall code organization, to understand the best way to do this. The animation has been implemented, though.

I think maybe it should be reassigned to someone else.

[2022-10-16 09:05] Dun-sin commented on #291
It just takes 5-6 lines of code, it's already been done before, hence why I said you should check this pull request #290 for reference, and just do what was done there

[2022-10-16 09:07] jeoffreyduke commented on #291
Oh, okay, thanks, I'll get it done soon✊🏾

[2022-10-16 22:41] #291 closed

[2022-10-16 22:41] Dun-sin commented on #291
:tada: This issue has been resolved in version 2.18.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.18.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-16 22:50] NAJIB-B commented on #296
Do you have a specific color in mind

[2022-10-16 22:53] Dun-sin commented on #296
Nope

[2022-10-16 22:55] NAJIB-B commented on #296
That will be a tough choice then

[2022-10-17 04:35] Dun-sin commented on #289
@amardeep911 an update pls?

[2022-10-17 04:35] Dun-sin commented on #285
@Ni-vik an upade pls?

[2022-10-17 07:13] #117 closed

[2022-10-17 07:14] Dun-sin commented on #117
:tada: This issue has been resolved in version 2.19.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.19.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-17 07:17] #296 closed

[2022-10-17 07:18] Dun-sin commented on #296
:tada: This issue has been resolved in version 2.19.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.19.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-17 09:56] Ni-vik commented on #285
It took me a while to understand the code base. I have added the icon in the top right corner..
![image](https://user-images.githubusercontent.com/90412779/196147369-5dc74b0e-a1af-4eb7-ac88-835a160c17a6.png)
I was not able to figure out the css as I am pretty bad in it as of now..
changes I made in the code
1. Added a div with class previous-result
![image](https://user-images.githubusercontent.co

[2022-10-17 09:59] Ni-vik commented on #285
Do tell me if you need any changes in this.  I am trying to figure out the way to implement the second task .

[2022-10-17 14:13] khanhtranngoccva commented on #295
@Dun-sin This issue is awaiting approval/assignment, as a PR can't be created without one.

[2022-10-17 14:43] Dun-sin commented on #285
Looks okay for now, I will make the changes for the positioning myself after you make a PR.

The send task is left and should be pretty simple, just reuse what is used to open the results using `get Results` to an event listener to this new icon

[2022-10-17 14:45] #295 closed

[2022-10-18 06:21] Dun-sin commented on #294
@sami-29 an update on this pls? After 15 hours and there's not an update, you will be unassigned.

[2022-10-18 06:57] rupali-codes commented on #289
Hey @Dun-sin can I take this?

[2022-10-18 16:19] #289 closed

[2022-10-18 16:19] Dun-sin commented on #289
:tada: This issue has been resolved in version 2.20.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.20.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-18 16:26] Dun-sin opened #299 "[BUG] reduce font size of placeholder"
### Description

Reduce the font size of the placeholder of the colour picker, checkout how to customize a placeholder

Tasks:
- [ ] reduce the font size of the placeholder for colour picker only
- [ ] Make the placeholder text clearer

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/196487628-e8c35dc9-5cfb-4104-bbd5-90d6291da5e6.png)

[2022-10-18 16:26] Dun-sin commented on #299
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-18 17:02] iampearlep commented on #299
Please assign this to me

[2022-10-18 18:39] #299 closed

[2022-10-18 18:40] Dun-sin commented on #299
:tada: This issue has been resolved in version 2.20.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.20.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-18 21:13] Elijah-trillionz opened #301 "[BUG] degree indicator not displaying for gradients"
### Description

The display indicator that displays real-time degree value for __gradient-border__ and __gradient background__ not displaying.

### Screenshots

![code-magic4](https://user-images.githubusercontent.com/60356516/196545980-fe34dbee-bc08-49fe-9978-fd69d5f2c916.png)

[2022-10-18 21:13] Dun-sin commented on #301
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 06:18] Dun-sin opened #302 "[BUG] degree not showing up in `gradient border` generator"
### Description

There's a bug in the gradient border generator, the degree doesn't show up when the slider is moved

Tasks:
- fix the degree, all you need to do is add the proper class to this element👇🏽, check out this pull request for help -> #293
https://github.com/Dun-sin/Code-Magic/blob/dabbd4658539a4f2429a754138763be6b2ae6e5a/index.html#L315

### Screenshots

![IMG_20221019_071604](https://u

[2022-10-19 06:19] Dun-sin commented on #302
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 06:26] Dun-sin opened #303 "[BUG] degree not showing up in `gradient background` generator"
### Description

There's a bug in the gradient background generator, the degree doesn't show up when the slider is moved

Tasks:
- fix the degree, all you need to do is add the proper class to this element👇🏽, check out this pull request for help -> #293
 https://github.com/Dun-sin/Code-Magic/blob/dabbd4658539a4f2429a754138763be6b2ae6e5a/index.html#L358

### Screenshots

![IMG_20221019_071949](http

[2022-10-19 06:26] Dun-sin commented on #303
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 06:26] Dun-sin commented on #301
Noted, thanks. Turned it to 2 separate issues

[2022-10-19 06:26] #301 closed

[2022-10-19 06:52] Dun-sin commented on #285
@Ni-vik an update on this pls

[2022-10-19 07:16] najeebkp commented on #303
Hi @Dun-sin please assign this to me

[2022-10-19 07:17] najeebkp commented on #302
Hey @Dun-sin  please assign this to me

[2022-10-19 07:28] Iamslok commented on #303
@Dun-sin Can you assign me, i would like to contribute

[2022-10-19 07:33] Dun-sin commented on #303
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-19 15:44] Ni-vik commented on #285
[2022-10-19 21-07-10.zip](https://github.com/Dun-sin/Code-Magic/files/9821994/2022-10-19.21-07-10.zip)
I have added the logo in each of the generator and then used the same logic as that of getResults so that when user clicks on the new icon it directs it to the results page. I have attached the demo video

[2022-10-19 15:59] Dun-sin commented on #285
sending me a zip file isn't ideal, i don't know if it contains a virus, you can either send a video or make your pull request

[2022-10-19 16:06] Dun-sin commented on #285
Also, I think you don't need to add the icon everywhere
Placing it between these two lines, will make it appear everywhere
https://github.com/Dun-sin/Code-Magic/blob/dabbd4658539a4f2429a754138763be6b2ae6e5a/index.html#L214-L215

[2022-10-19 16:21] Ni-vik commented on #285
Sorry about that. I'll keep that in mind.

[2022-10-19 16:22] Ni-vik commented on #285
Sorry about the zip file. I'll keep that in mind from the next time.

[2022-10-19 16:25] Pradumnasaraf opened #305 "[FEATURE] Dockerize the app"
### Description

Adding Docker support to the repo by adding `Dockerfile` and `compose` for the dev who works in a container environment.

[2022-10-19 16:28] Dun-sin commented on #285
i see, what about before the end of tomorrow?

[2022-10-19 16:35] Ni-vik commented on #285
I can't guarantee you that as I have university exams going on this week.

[2022-10-19 19:37] #285 closed

[2022-10-19 19:38] Dun-sin commented on #285
:tada: This issue has been resolved in version 2.21.0 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.21.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-20 06:44] subrataSamartha commented on #294
Hi, I would like to contribute to this project and want to try my hands at this bug #294
i have already forked the project checked the bug myself and tested the solution locally.

[2022-10-20 06:46] Dun-sin commented on #294
Okay,  Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-21 03:33] #294 closed

[2022-10-21 03:34] Dun-sin commented on #294
:tada: This issue has been resolved in version 2.21.1 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.21.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-21 15:16] omagr commented on #303
@Dun-sin I understood the issue and started working on it. can you please assign it to me?

[2022-10-21 15:17] Dun-sin commented on #303
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-21 15:42] omagr opened #308 "[BUG] degree not showing up in gradient border generator"
### Description

Describe the bug
There's a bug in the gradient border generator, the degree doesn't show up when the slider is moved

### Screenshots

![is0](https://user-images.githubusercontent.com/88016895/197235503-171882d9-b578-47ad-954b-ee71599aaebb.jpg)

[2022-10-21 15:44] Dun-sin commented on #308
Duplicate of #302

[2022-10-21 15:44] #308 closed

[2022-10-22 04:08] eddybruv commented on #302
@Dun-sin, I fixed this issue after noticing it, could u assign this to me?

[2022-10-22 04:12] Dun-sin commented on #302
Nope, it's a good first issue, not for existing contributors, don't work on it

[2022-10-22 05:43] HridoyHazard commented on #302
hi @Dun-sin  i'm new contributor. can u plz assign me this task ??

[2022-10-22 05:48] Dun-sin commented on #302
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-22 08:08] Dun-sin opened #309 "[FEATURE] Don't show open results icon"
### Description

If the `get results` button wasn't clicked, the icon for open results shouldn't show up

### Screenshots

Open results icon:
![image](https://user-images.githubusercontent.com/78784850/197327939-0998e4c7-b1ef-4f05-b181-4868a354242b.png)

Get results button:
![image](https://user-images.githubusercontent.com/78784850/197327975-1fdc67ff-4106-49a5-9bc0-1292a53aa6ac.png)

### Addition

[2022-10-22 08:23] HridoyHazard commented on #303
#310
here fixed it

[2022-10-22 08:24] Dun-sin commented on #309
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-22 08:54] #303 closed

[2022-10-22 08:55] Dun-sin commented on #303
:tada: This issue has been resolved in version 2.21.2 :tada:

The release is available on [GitHub release](https://github.com/Dun-sin/Code-Magic/releases/tag/v2.21.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-22 08:56] Dun-sin commented on #309
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-22 09:28] CA-MKSingh commented on #309
Hey @Dun-sin , I would like to work on this, can you please assign this to me?

[2022-10-22 09:29] Dun-sin commented on #309
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-22 10:06] Dun-sin opened #311 "test"
### Description

freerr

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Mozilla Firefox

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the rules in the [Contributing Guidelines](https://github.com/Dun-sin/Code-M